<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>GNEWS Analytics - Social Media News</title>
    <meta name="description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
	<meta name="author" content="GNEWS.ID"/>
	<meta name="keywords" content="best app for news and reading,best news reader app,best free news reader app,best mobile app,apps,gnews,gnews apps"/>
	<meta property="og:title" content="GNEWS - Social Media News" />
	<meta property="og:url" content="http://GNEWS.ID" />
	<meta property="og:image" content="@{/resource/images/favicon.png}" />
	<meta property="og:description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
	<meta property="og:site_name" content="GNEWS.ID" />

	<link rel="icon" th:href="@{/resource/images/favicon.png}" />

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	<!-- css -->
	<link rel="stylesheet" th:href="@{/resource/css/base.css}" />
	<link rel="stylesheet" th:href="@{/resource/css/animate.css}" />
	<!-- css for this project -->
	<link rel="stylesheet" th:href="@{/resource/css/project.css}" />

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

    <style media="screen">
        .content-setting{
          min-height: 200px;
          margin-left: 0px;
          border-left: 2px solid #D5D5D5;
          padding: 20px 0px 20px 6%;
        }
        .tab-nav .nav > li > a, .tab-nav .nav > li > .a{
          color: #6C6767;
          font-weight: 700;
        }
        .order-detail .content-inner{
          padding: 0px;
        }
        #mc-wrapper .col-sm-12{
          padding: 0px 0px 0px;
        }
        .tab-nav .nav > li > a, .tab-nav .nav > li > .a{
          padding: 20px;
          text-transform:none;
        }
        nav ul{
          font-size: 18px;
        }

        .tab-nav .nav > li.active > a, .tab-nav .nav > li.active > .a{
          border-bottom-color: transparent;
          color: #00B8E6;
          font-weight: 700;
        }
        .tab-nav .nav > li > a:focus, .tab-nav .nav > li > a:hover, .tab-nav .nav > li > .a:focus, .tab-nav .nav > li > .a:hover{
          color: #00B8E6;
          font-weight: 700;
          border-bottom-color:transparent;
        }
        .tab-nav-indicator.animate{
          background-color: transparent;
        }
        .tab-nav{
          box-shadow:none;
        }
        .margin-top-no{
          padding-top: 30px;
        }
        .order-detail .content-inner input, .order-detail .content-inner select{
          background: #F0F0F0;
           width: 40%;
           border: 0px solid;
           padding: 7px 15px;
        }

        #basic_information input{
          width: 60%;
        }
        .dekat {
          margin-top: 12px;
        }

        .order-detail .btn-blue{
          margin: 60px 0px;
        }
        #basic_information h4{
          font-weight: 700;
          margin-top: 10px;
        }

        #basic_information .row{
          margin: 10px -16px;
        }
        .email{
          padding-left: 6%;
          line-height: 31px;
        }


		.item {
			text-align:center;
			float:left;
			margin:5px;
			position:relative;
		}

			.item,
			.item-hover,
			.item-hover .mask,
			.item-img,
			.item-info {
				width: 128px;
				height: 128px;
			}

			.item-hover,
			.item-hover .mask,
			.item-img {
				position:absolute;
				top:0;
				left:0;
			}

			.item-type-zoom .item-hover {
				z-index:5;
				-webkit-transition: all 300ms ease-out;
				-moz-transition: all 300ms ease-out;
				-o-transition: all 300ms ease-out;
				transition: all 300ms ease-out;
				opacity:0;
				cursor:pointer;
				display:block;
				text-decoration:none;
				text-align:center;
			}

				.item-type-zoom .item-info {
					z-index:10;
					color:#ffffff;
					display:table-cell;
					vertical-align:middle;
					position:relative;
					z-index:5;
			    -webkit-transform: scale(0,0);
			    -moz-transform: scale(0,0);
			    -ms-transform: scale(0,0);
			    transform: scale(0,0);
					-webkit-transition: all 300ms ease-out;
					-moz-transition: all 300ms ease-out;
					-o-transition: all 300ms ease-out;
					transition: all 300ms ease-out;
				}

				.item-type-zoom .item-info .headline {
					font-size:18px;
					width:75%;
					margin:0 auto;
					/*border:4px solid #ffffff;*/
					padding:10px;
				}

        .item-type-zoom .item-info p{
          color: #FFF;
          margin: 0px;
        }
				.item-type-zoom .item-hover .mask {
					background-color:#000;
					opacity:0.5;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
					filter: alpha(opacity=50);
          border-radius: 50%;

					z-index:0;
				}

				.item-type-zoom .item-hover:hover {
					opacity:1;
				}

				.item-type-zoom .item-hover:hover .item-info {
			    -webkit-transform: scale(1,1);
			    -moz-transform: scale(1,1);
			    -ms-transform: scale(1,1);
			    transform: scale(1,1);
				}

			.item-img {
				/*background-color:#7a548f;*/
				z-index:0;
        border-radius: 50%;


			}
      .item-img img{
        border-radius: 50%;
      }
      /*hidding input file*/
      .inputfile {
        	width: 0.1px;
        	height: 0.1px;
        	opacity: 0;
        	overflow: hidden;
        	position: absolute;
        	z-index: -1;
        }

        /*
          Mobile View
        */

        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

            .content-setting{
              border-left: 0px;
            }
            #change_password input{
              width: 90%;
            }
            #basic_information input{
            	 width: 90%;
            	 margin-top:10px;
            }
            #basic_information .item-type-zoom{
              left: 25%;
            }
            .content-setting{
              padding: 10px 0px 20px 6%;
            }
            nav ul{
              font-size: 16px;
            }
            .email{
            	margin-top:10px;
            }
            .margin-top-no{
              padding-top: 0;
              border-bottom: 2px solid #D5D5D5;
            }
            .tab-nav .nav > li > a, .tab-nav .nav > li > .a{
              border-bottom: 0;
            }
            #change_password h5:first-of-type {
              margin-top: 0;
            }


          .mobile-tab {
            width: 100%;
          }
          .mobile-tab > li {
            display: table-cell !important;
            float: none !important;
            width: 1% !important;
          }
          .mobile-tab > li > a {
            text-align: center;
          }
          .item-type-zoom .item-hover {
            opacity:1;
          }

          .item-type-zoom .item-hover .item-info {
            -webkit-transform: scale(1,1);
            -moz-transform: scale(1,1);
            -ms-transform: scale(1,1);
            transform: scale(1,1);
          }
          .fa-3x{
            font-size: 1.5em;
          }
          .headline p{
            visibility: hidden;
          }
          .item-type-zoom .item-hover .mask{
            opacity: 0;
          }
          .item-type-zoom .item-info .headline{
            padding: 70% 10px 10px;
          }
          .headline .fa-camera{
            box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
          }

        }

	</style>

	<!--[if lte IE 8]>
	<style type="text/css">
		.item-hover .item-info {
			display:none;
			top:20%;
		}

		.item-hover .mask {
			display:none;
		}

		.item-hover:hover .item-info,
		.item-hover:hover .mask {
			display:block;
		}
	</style>
	<![endif]-->


</head>
<body th:inline="text">

	<div th:replace="fragment/mc-navbar :: mc-navbar"></div>
	<div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>

	<div id="mc-wrapper" class="">
		<div class="container order-detail">
			<div class="col-sm-12">
				<div class="content-head">
					<ul>
						<li><h1>Setting</h1></li>
					</ul>
				</div>
				<div class="content-inner">
					<div class="order-detail">
						<div class="col-sm-3" style="padding: 0px;">
	
	              <nav class="margin-top-no tab-nav">
	                <ul class="nav mobile-tab">
	                  <li class="active">
	                    <a class="waves-attach text-center" data-toggle="tab" href="#basic_information">Basic Information</a>
	                  </li>
	                  <li>
	                    <a class="waves-attach text-center" th:value="1" data-toggle="tab" href="#change_password">Change Password</a>
	                  </li>
	
	                </ul>
	              </nav>
						</div>
						<div class="col-sm-7 content-setting ">
	
	            <div class="tab-content">
	
	            <div class="tab-pane fade active in" id="basic_information">
	               <form method="post" th:action="@{/setting/save}" enctype="multipart/form-data">
	                <div class="row">
	                  <div class="col-sm-12">
	                    <div class="item item-type-zoom waves-attach waves-effect">
	                      <label class="item-hover" for="image">
	                      <div class="item-info">
	                        <div class="headline">
	                          <i class="fa fa-camera fa-3x"></i>
	                          <p>Upload </p>
	                        </div>
	                      </div>
	                      <div class="mask"></div>
	                    </label>
	
	
	                    <div><img id="imgUpload" class="item-img" th:src="${profilepicture} == null ? @{/resource/images/avatar_1.png} : @{/images/uploads/}+${profilepicture}" alt="" /></div>
	                  </div>
	
	
	                  </div>
	                </div>
	           <input type="file"  class="inputfile" onchange="document.getElementById('imgUpload').src = window.URL.createObjectURL(this.files[0])"
	           			th:field="${profile.image}" accept="image/*|MIME_type"></input>
							<h4>Basic Information</h4>
	
	            <div class="row">
	                <div class="col-sm-2">
	                  Nama
	                </div>
	                <div class="col-sm-10">
	                  <input name="fullname" th:value="${profile.fullname}" />
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-2">
	                  Address
	                </div>
	                <div class="col-sm-10">
	                  <input name="address" th:value="${profile.address}" />
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-2">
	                  City
	                </div>
	                <div class="col-sm-10">
	                  <input name="city" th:value="${profile.city}" />
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-2">
	                  Email
	                </div>
	                <div class="col-sm-10 email" th:text="${profile.email}">
	
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-2">
	                  Phone
	                </div>
	                <div class="col-sm-10">
	                  <input type="int" name="phone" th:value="${profile.phone}" />
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-2">
	                  Company
	                </div>
	                <div class="col-sm-10">
	                  <input name="company" th:value="${profile.company}" />
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-2">
	                  Title
	                </div>
	                <div class="col-sm-10">
	                  <input name="position" th:value="${profile.position}" />
	                </div>
	            </div>
	            <button type="submit" class="btn btn-blue waves-effect">SAVE CHANGES</button>
	            </form>
	          </div>
	
	
	          <div class="tab-pane fade" id="change_password">
	           <form  method="post" th:action="@{/setting/password/save}">
	              <h5>Enter your old password</h5>
	              <input name="oldPassword" />
	              <h5>Type your new password</h5>
	              <input name="newPassword" />
	              <h5 class="dekat">Confirm your new password</h5>
	              <input/>
	              <br/>
	              <button class="btn btn-blue waves-effect" type="submit">UPDATE CHANGES</button>
			</form>
	
	          </div>
	
	
	          </div>

					</div>

					</div>
				</div>
			</div>
		</div>
	</div>



	<div th:replace="fragment/landing-footer :: landing-footer"></div>
	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>

	<!-- js -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
	<script th:src="@{/resource/js/base.min.js}"></script>

	<!-- js for this project -->

	<script th:src="@{resource/js/project.js}"></script>
  <script type="text/javascript">
  /* function readURL(input) {
      if (input.files[0]) {
          var reader = new FileReader();
			console.log('test');
          reader.onload = function (e) {
              $('#image_upload_preview').attr('src', e.target.result);
          }

          reader.readAsDataURL(input.files[0]);
      }
  }

  $("#file").change(function () {
      readURL(this);
  }); */
  // $(document).ready(function () {
  //       $(document).on('mouseenter', '.profile-picture', function () {
  //           $(this).find(":button").show();
  //       }).on('mouseleave', '.profile-picture', function () {
  //           $(this).find(":button").hide();
  //       });
  //   });

  </script>

</body>
</html>
