<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>GNEWS Analytics - Social Media News</title>
    <meta name="description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
	<meta name="author" content="GNEWS.ID"/>
	<meta name="keywords" content="best app for news and reading,best news reader app,best free news reader app,best mobile app,apps,gnews,gnews apps"/>
	<meta property="og:title" content="GNEWS - Social Media News" />
	<meta property="og:url" content="http://GNEWS.ID" />
	<meta property="og:image" content="@{/resource/images/favicon.png}" />
	<meta property="og:description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
	<meta property="og:site_name" content="GNEWS.ID" />

	<link rel="icon" th:href="@{/resource/images/favicon.png}" />

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	<!-- css -->
	<link rel="stylesheet" th:href="@{/resource/css/base.css}" />
	<link rel="stylesheet" th:href="@{/resource/css/animate.css}" />
	<!-- css for this project -->
	<link rel="stylesheet" th:href="@{/resource/css/project.css}" />

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body th:inline="text">

	<div th:replace="fragment/mc-navbar :: mc-navbar"></div>
	<div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>

	<div id="mc-wrapper" class="">
		<div class="container order-detail">
			<div class="col-sm-12">
				<div class="content-head">
					<ul>
						<li><img th:src="@{/resource/images/ic_billing.png}"/></li>
						<li><h1>Order detail &amp; payment</h1></li>
						<li></li>
					</ul>
				</div>
				<div class="content-inner">
					<div class="order-detail">
						<div class="col-sm-6">
							<p>Below is project that you have created: </p>
							<div class="col-sm-12 project-detail">
								<div class="col-sm-4" style="padding-left: 0;">
									<p>Invoice No</p>
									<p>Created Date</p>
									<p>Project name</p>
									<p>Keyword</p>
									<p>Filter</p>
									<p>Language</p>
								</div>
								<div class="col-sm-8">
									<p>: &nbsp;<strong th:text="${payment.invoice}"></strong></p>
									<p name="createdAt" th:text="@{: &nbsp;}+${#dates.format(payment.createdAt, 'dd/MM/yyyy HH:MM')}"/>
									<p name="projectName" th:text="@{: &nbsp;}+${payment.project.name}"/>
									<p name="keyword" th:text="@{: &nbsp;}+${payment.project.keyword}"/>
									<p name="filter" th:text="@{: &nbsp;}+${payment.project.filter}"/>
									<p name="languange" th:text="@{: &nbsp;}+${#strings.setJoin(payment.project.languages,', ')}"/>
								</div>
							</div>
							
						</div>
						<div class="col-sm-6">
							<p>Payment status</p>
							<div th:if="${payment.paid} == true" class="btn btn-safe">PAID</div>
							<div th:if="${payment.paid} == false" class="danger">UNPAID</div>
							<p th:if="${payment.paid} == true">Your project has been activated.</p>
							<p th:if="${payment.paid} == false">Your project has not activated, please complete your payment</p>
							<a class="btn btn-blue waves-effect" th:href="@{/project}">VIEW PROJECT</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragment/landing-footer :: landing-footer"></div>
	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>
	
	<!-- js -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
	<script th:src="@{/resource/js/base.min.js}"></script>

	<!-- js for this project -->

	<script th:src="@{resource/js/project.js}"></script>


</body>
</html>
