<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>GNEWS Analytics - Social Media News</title>
<meta name="description"
	content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
<meta name="author" content="GNEWS.ID" />
<meta name="keywords"
	content="best app for news and reading,best news reader app,best free news reader app,best mobile app,apps,gnews,gnews apps" />
<meta property="og:title" content="GNEWS - Social Media News" />
<meta property="og:url" content="http://GNEWS.ID" />
<meta property="og:image" content="@{/resource/images/favicon.png}" />
<meta property="og:description"
	content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
<meta property="og:site_name" content="GNEWS.ID" />

<link rel="icon" th:href="@{/resource/images/favicon.png}" />

<link
	href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
<!-- css -->
<link rel="stylesheet" th:href="@{/resource/css/base.css}" />
<link rel="stylesheet" th:href="@{/resource/css/animate.css}" />
<!-- css for this project -->
<link rel="stylesheet" th:href="@{/resource/css/project.css}" />

<!-- ie -->
<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		<style>
			#keywordBox{
				z-index: 0;
			}
		</style>
</head>

<body th:inline="text">

	<div th:replace="fragment/mc-navbar :: mc-navbar"></div>
	<div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>

	<div id="mc-wrapper" class="">
		<div class="container">
			<div class="col-sm-12">
				<div th:replace="fragment/project-header :: project-header"></div>
				<div
					th:replace="fragment/project-mobile-header :: project-mobile-header"></div>
				<div class="content-inner">
					<div id="keywordBox" class="col-sm-12">
					
					</div>
				</div>
			</div>
		</div>

	</div>

	<div th:replace="fragment/landing-footer :: landing-footer"></div>
	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>
	<div th:replace="fragment/modal-delete-project :: modal-delete-project"></div>

	<!-- js -->
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
	<script th:src="@{/resource/js/base.min.js}"></script>
	<script th:src="@{/resource/js/modernizr.custom.79639.js}"></script>
	<script th:src="@{/resource/js/moment.js}"></script>

	<!-- js for this project -->
	<script th:src="@{/resource/js/project.js}"></script>

	<!-- <script type="text/javascript" th:inline="javascript"> -->
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		/* Dropdown */
		function DropDown(el) {
			this.dd = el;
			this.initEvents();
		}
		DropDown.prototype = {
			initEvents : function() {
				var obj = this;

				obj.dd.on('click', function(event) {
					$(this).toggleClass('active');
					event.stopPropagation();
				});
			}
		}

		$(function() {
			var dd = new DropDown($('#dd'));
			$(document).click(function() {
				$('.showby-dropdown').removeClass('active');
			});
		});
		
		/* Date interval */
		var today = moment();
		var list = [[${list}]];
		var content = '';
		var button = '';
		for(i=0;i< list.length; i++){
			var interval = '';
			var differ = 0;
			var differText = '';
			var filterwrap = '';
			var id = list[i].id;
			var name = list[i].name;
			var keyword = list[i].keyword;
			var filter = list[i].filter;
			var create = moment(list[i].createdAt);
			
			var exp = null;
			if(list[i].expiredAt != null){
				exp = moment(list[i].expiredAt);
				differ = exp.diff(today, 'days');
				differText = '<span id="counter"></span>'+differ+' days left';
			}
			var stat = list[i].status;
			var image = list[i].image;
			if(image == null) {
				image = [[@{/resource/images/img_default.png}]];
			}
			if(list[i].active == true){
				button =
					'<a class="btn-show" href="/project/'+id+'">VIEW</a>';
			}else {
				button =
					'<a class="btn-activate" href="/billing">ACTIVATE</a>';	
			}
			
			if(list[i].expired == false){
				if(list[i].expiredAt != null){
					interval =
						'<strong>'+create.format('DD MMM YYYY')+'</strong>'+
						' - <strong>'+exp.format('DD MMM YYYY')+'</strong>';
				}
			}else {
				interval =
				'<strong class="danger">'+stat+'</strong>';
			}
			
			if(list[i].filter.length > 1){
				filterwrap = 
					'<img src="../../../resource/images/ic_keywordfilter.png" style="margin-right: 5px;"/>'+
					'<span>'+filter+'</span>';
			}
			
			content +=
				'<div class="col-sm-2 box list">'+
				'<div class="item item-type-move waves-attach waves-effect">'+
				'<label class="item-hover">'+
					'<div class="item-info">'+
						'<div class="headline">'+
							'<a class="btn-trash delete-project" data-toggle="modal" href="#deleteProject" name="/project/delete?id='+id+'">'+
							'<i class="fa fa-trash"></i></a>'+ 
							'<div class="box-center">'+button+
							'</div>'+
						'</div>'+
					'</div>'+
					'<div class="mask"></div>'+
				'</label>'+
				'<div class="item-img">'+
					'<img src="'+image+'" alt="" />'+
				'</div>'+
				'<div class="keyword text-left">'+
					'<p>'+keyword+'</p>'+
					filterwrap +
				'</div>'+
			'</div>'+
			'<div class="box-detail">'+
				'<p class="project-head">'+name+'</p>'+
				'<p class="interval">'+interval+'</p>'+
				'<p class="status">'+'</p>'+
			'</div>'+
			'</div>';
		}
		$('#keywordBox').html(content);
		
		//Delete project
		$('.delete-project').click(function(){
			var link = $(this).attr('name');
			$('.modal-delete-project').attr('href',link);
		});
		/*]]>*/
	</script>

</body>

</html>
