<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GNEWS Analytics - Social Media News</title>
    <meta name="description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
    <meta name="author" content="GNEWS.ID" />
    <meta name="keywords" content="best app for news and reading,best news reader app,best free news reader app,best mobile app,apps,gnews,gnews apps" />
    <meta property="og:title" content="GNEWS - Social Media News" />
    <meta property="og:url" content="http://GNEWS.ID" />
    <meta property="og:image" content="@{/resource/images/favicon.png}" />
    <meta property="og:description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
    <meta property="og:site_name" content="GNEWS.ID" />

    <link rel="icon" th:href="@{/resource/images/favicon.png}" />

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <!-- css -->
    <link rel="stylesheet" th:href="@{/resource/css/base.css}" />
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css" />

	<!-- Animate CSS -->
    <link rel="stylesheet" th:href="@{/resource/css/animate.css}" />
    <!-- css for this project -->
    <link rel="stylesheet" th:href="@{/resource/css/project.css}" />
    
    <!-- css for datatable styling -->
    <link rel="stylesheet" th:href="@{/resource/css/datatable-style.css}" />

    <!-- ie -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->


</head>

<body th:inline="text">

    <div th:replace="fragment/mc-navbar :: mc-navbar"></div>
    <div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>

    <div id="mc-wrapper" class="">
        <div id="projects" class="container">
            <div class="col-sm-12">
                <div th:replace="fragment/project-header :: project-header"></div>
                <div class="content-inner">
                    <table id="project-list" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Project name</th>
                                <th>Keyword</th>
                                <th>Filter</th>
                                <th>Active date</th>
                                <th>Due date</th>
                                <th>Action</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="project : ${list}">
                                <td class="count text-center"></td>
                                <td><span th:text="${project.name}" /></td>
                                <td class="keywords"><a th:href="@{/project/}+${project.id}"><span style="font-weight:700;" th:text="${project.keyword}" /></a>
                                </td>
                                <td class="filter" th:text="${project.filter}"></td>
                                <td th:text="${#dates.format(project.createdAt, 'dd/MM/yyyy')}"></td>
                                <td th:text="${project.expiredAt} == null ? '-' : ${#dates.format(project.expiredAt, 'dd/MM/yyyy')}"></td>
                                <td class="text-center">

                                    <button th:unless="${project.active}" class="btn-activate waves-effect">ACTIVATE</button>
                                    <text th:if="${project.active}">-</text>

                                </td>
                                <td style="padding-top: 13px;">
                                    <a class="danger delete-project" data-toggle="modal" th:name="@{/project/delete?id=}+${project.id}" href="#deleteProject">DELETE</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="fragment/landing-footer :: landing-footer"></div>
    <div th:replace="fragment/modal-add-project :: modal-add-project"></div>
    <div th:replace="fragment/modal-delete-project :: modal-delete-project"></div>

    <!-- js -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
    <script th:src="@{/resource/js/base.min.js}"></script>
    <script th:src="@{/resource/js/modernizr.custom.79639.js}"></script>
    <!-- <script th:src="@{/resource/js/stupidtable.js}"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>

    <!-- js for this project -->
    <script th:src="@{resource/js/project.js}"></script>

    <!-- Data Tables -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/responsive.bootstrap.min.js"></script>

    <script>
        /* Data Table */
        $.extend($.fn.dataTable.defaults, {
            responsive: true
        });

        $(document).ready(function() {
            $('#project-list').DataTable();
            //DATA TABLE
            oTable = $('#project-list').DataTable(); //pay attention to capital D, which is mandatory to retrieve "api" datatables' object, as @Lionel said
            $('#searchProjectList').keyup(function() {
                oTable.search($(this).val()).draw();
            })
        });
        /* Dropdown */
        function DropDown(el) {
            this.dd = el;
            this.initEvents();
        }
        DropDown.prototype = {
            initEvents: function() {
                var obj = this;

                obj.dd.on('click', function(event) {
                    $(this).toggleClass('active');
                    event.stopPropagation();
                });
            }
        }

        $(function() {
            var dd = new DropDown($('#dd'));
            $(document).click(function() {
                $('.showby-dropdown').removeClass('active');
            });
        });

        //Delete project
        $('.delete-project').click(function() {
            var link = $(this).attr('name');
            console.log(link);
            $('.modal-delete-project').attr('href', link);
        });
    </script>
</body>

</html>