<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<body>
		<div th:fragment="navbar-panel-top">
<!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                   <div class="text-center">
                   <br />
                   <a th:href="@{/}">
					<img class="logo" th:src="@{/resource/images/logo_gnewspro-compress.png}"/>
					</a>
					<!-- <a th:href="@{/}" class="logo"> <img src="/images/favicon.png"
						th:src="@{/resource/images/favicon.png}" height="30	px"
						width="auto" style="color:#36404a;"/><span>GNEWS PRO</span></a> -->
					</div>
                </div>

                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="">
                            <div class="pull-left">
                                <button class="button-menu-mobile open-left">
                                    <i class="ion-navicon"></i>
                                </button>
                                <span class="clearfix"></span>
                            </div>
                            <ul class="nav navbar-nav navbar-right pull-right">
                                <li class="hidden-xs">
                                    <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen"></i></a>
                                </li>
                               
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true"> <img th:src="@{/resource/images/users/avatar-7.jpg}" alt="user-img" class="img-circle" /> 
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a th:href="@{/setting/profile}"><i class="ti-settings m-r-5"></i> Settings</a></li>
                                        <li><a th:href="@{/logout}"><i class="ti-power-off m-r-5"></i> Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            </div>
            </body>
     </html>
            <!-- Top Bar End -->
            