<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<meta content="initial-scale=1.0, width=device-width" name="viewport"/>
	<link rel="icon" th:href="@{/resource/images/favicon.png}" />
	<title>GNEWS Analytics - Social Media News</title>

	<!-- css -->
	<link th:href="@{/resource/analytics/css/style.css" rel="stylesheet"/>
	<link th:href="@{/resource/analytics/css/font-awesome.min.css" rel="stylesheet" />
	
	<!-- css for this project -->
	<link th:href="@{/resource/analytics/css/base.css" rel="stylesheet"/>
	<link th:href="@{/resource/analytics/css/project.css" rel="stylesheet"/>
	
	<link th:href="@{/resource/analytics/css/calendar.min.css" rel="stylesheet"/>

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body>
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="url_config_analytics">
		<a href="#" id="project_id" th:text="${id}"></a>
		<a href="#" id="project_name" th:text="${name}"></a>
		<a href="#" id="access_token" th:text="${accessToken}"></a>
		<a href="#" id="startDates" th:text="${startDate}"></a>
		<a href="#" id="endDates" th:text="${endDate}"></a>
		<a th:if="${country != null}" href="#" id="country" th:text="${country}"></a>
		<a th:if="${country == null}" href="#" id="country"></a>
		<a th:href="@{http://api.gnews.io/news/recent?keywordId=id_project&amp;accessToken=token_access}" id="recent_article"></a>
    </div>
	
	<div th:replace="fragment/mc-navbar :: mc-navbar">&nbsp;</div>
	
	<div class="content">
				
		<div th:replace="analytics/fragment/analytics-header :: analytics-header">&nbsp;</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<section class="content-inner">
						
						<div th:replace="analytics/fragment/analytics-navbar-inner :: analytics-navbar-inner">&nbsp;</div>
						
						<div class="tab-content">
							
							<div class="tab-pane active fade in" id="tab-listnews">
								<div class="el-loading" id="el-loading-3">
									
									<div class="page-header">
										<div id="menu-calendar" class="pull-right form-inline">
											<div class="btn-group">
												<button class="btn btn-blue" data-calendar-nav="prev">Prev</button>
												<button class="btn btn-default" data-calendar-nav="today">Today</button>
												<button class="btn btn-blue" data-calendar-nav="next">Next</button>
											
												<!-- <button class="btn btn-yellow" data-calendar-view="year">Year</button> -->
												<button class="btn btn-yellow active" data-calendar-view="month">Month</button>
												<button class="btn btn-yellow" data-calendar-view="week">Week</button>
												<!-- <button class="btn btn-yellow" data-calendar-view="day">Day</button> -->
											</div>
										</div>
						
										<h3></h3>
									</div>
									
									<div class="row">
										<div class="col-md-12">
											<div id="calendar"></div>
										</div>
										<div class="col-md-3" style="display:none;">
											<div class="row">
												<select id="first_day" class="form-control">
													<option value="" selected="selected">First day of week language-dependant</option>
													<option value="2">First day of week is Sunday</option>
													<option value="1">First day of week is Monday</option>
												</select>
												<select id="language" class="form-control">
													<option value="">Select Language (default: en-US)</option>
												</select>
												<label class="checkbox">
													<input type="checkbox" value="#events-modal" id="events-in-modal"/> Open events in modal window
												</label>
												<label class="checkbox">
													<input type="checkbox" id="format-12-hours"/> 12 Hour format
												</label>
												<label class="checkbox">
													<input type="checkbox" id="show_wb" checked="checked"/> Show week box
												</label>
												<label class="checkbox">
													<input type="checkbox" id="show_wbn" checked="checked"/> Show week box number
												</label>
											</div>
										</div>
										<br/>
									</div>
									
								</div>
							</div>
							
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<p style="font-size: 10px;">Copyright &copy;2015 www.gnews.io</p>
		</div>
	</footer>

	<!-- js -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>

	<!-- js for this project -->
	<!-- <script th:src="@{/resource/analytics/js/base.min.js}"></script> -->
	<!-- <script th:src="@{/resource/analytics/js/project.min.js}"></script> -->
	<script th:src="@{/resource/js/bootstrap.min.js}"></script>
	
	<!-- Pagination -->
	<script th:src="@{/resource/analytics/js/jquery.bootpag.js}"></script>

	<!-- Chart Plugin -->
	<script th:src="@{/resource/analytics/js/highcharts.js}"></script>
	<script th:src="@{/resource/analytics/js/exporting.js}"></script>
	
	<!-- Calendar -->
	<script type="text/javascript" th:src="@{/resource/analytics/js/underscore-min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/analytics/js/jstz.min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/analytics/js/calendar.js}"></script>
	<script type="text/javascript" th:src="@{/resource/analytics/js/app.js}"></script>
	

	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$(window).load(function() {
			$("#el-loading-3").addClass("el-loading-done");
		});
	
		var startDate = '';
		var endDate = '';
	
		if($('#startDates').text().length == 0) {
			startDate = moment().subtract(7, 'days').format('YYYY-MM-DD');
			endDate = moment().format('YYYY-MM-DD');
		} else {
			startDate = $('#startDates').text();
			endDate = $('#endDates').text();
		}
		
		var projectName = [[${project.name}]];
		var idProject = [[${project.id}]];
		
	/*]]>*/
	</script>
	
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
		
	/*]]>*/
	</script>
    
</body>
</html>