<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="analytic-leftbar">
			<div class="left side-menu hidden-xx hidden-xs">
				<div id="sidebar-menu">
					<span class="title">PROJECT NAME</span>
					<h4 th:text="${project.name}" class="biru"></h4>
					<br/>
					<span class="title">FEATURES</span>
					<ul class="nav">
						<li style="border-top: 1px solid #e0e0e0;"><a class="tile waves-attach waves-effect" th:classappend="${#strings.contains(#httpServletRequest.getRequestURI(), '/digital-clipping') ? 'active':''}" th:href="@{/project/}+${project.id}+@{/digital-clipping/start}"><span class="symbol"><i class="fa fa-calendar icon-head" aria-hidden="true"></i></span>Digital Clipping</a></li>
						<li><a class="tile waves-attach waves-effect" th:classappend="${#strings.contains(#httpServletRequest.getRequestURI(), '/gnewsletter') ? 'active':''}" th:href="@{/project/}+${project.id}+@{/gnewsletter/start}"><span class="symbol"><i class="fa fa-envelope icon-head" aria-hidden="true"></i></span>GNEWSLetter</a></li>
						<li><a class="tile waves-attach waves-effect" th:classappend="${#strings.contains(#httpServletRequest.getRequestURI(), '/dashboard') ? 'active':''}" th:href="@{/project/}+${project.id}+@{/dashboard/keyword-mapping}"><span class="symbol"><i class="fa fa-bar-chart icon-head" aria-hidden="true"></i></span>Analytic Dashboard</a></li>
						<li><a class="tile waves-attach waves-effect" th:classappend="${#strings.contains(#httpServletRequest.getRequestURI(), '/automated-report') ? 'active':''}" th:href="@{/project/}+${project.id}+@{/automated-report/start}"><span class="symbol"><i class="fa fa-file icon-head" aria-hidden="true"></i></span>Automated Report</a></li>
						<li><a class="tile waves-attach waves-effect" th:classappend="${#strings.contains(#httpServletRequest.getRequestURI(), '/mail') ? 'active':''}" th:href="@{/project/}+${project.id}+@{/mail/start}"><span class="symbol"><i class="fa fa-envelope-o icon-head" aria-hidden="true"></i></span>Email Marketing</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>