<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="landing-footer">
		<footer class="footer">
		<div class="foo2">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-12 text-center">
							<ul>
								<li style="margin: 7px 0;"><a th:href="@{/}"> Home </a> | <a th:href="@{/about}"> About </a> | <a th:href="@{http://blog.gnews.io/}"> Blog </a> | <a th:href="@{mailto:info@gdilab.com}"> Contact </a> <br/> <a th:href="@{/terms}"> Terms &amp; Condition </a>  |  <a th:href="@{/policy}"> Privacy &amp; Policy </a></li>
								<li><span>Connect with us : </span></li>
								<li>
									<ul class="social">
										<li><a th:href="@{https://www.facebook.com/gnews.io/?fref=ts}"><div class="circle facebook text-center"><i class="fa fa-facebook"></i></div></a></li>
										<li><a th:href="@{https://twitter.com/gnewsapp}"><div class="circle twitter text-center"><i class="fa fa-twitter"></i></div></a></li>
										<li><a th:href="@{https://plus.google.com/u/0/116091877942959809568}"><div class="circle google-plus text-center"><i class="fa fa-google-plus"></i></div></a></li>
										<li><a th:href="@{https://www.instagram.com/gnewsapp}"><div class="circle instagram text-center"><i class="fa fa-instagram"></i></div></a></li>
										<li><a th:href="@{https://telegram.me/gnewsapp}"><div class="circle telegram text-center"><i class="fa fa-location-arrow"></i></div></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="foo3">
			<div class="container text-center">
				<div class="col-sm-12">
					<span>GNEWS.ID © 2016</span>
				</div>
			</div>
		</div>
	</footer>
	</div>
</body>
</html>
