<!DOCTYPE html>
<html>
 <head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" th:href="@{/resource/images/favicon.png}" />
<title>GNEWS Analytic - All post</title>

<link rel="stylesheet" th:href="@{/resource/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resource/css/core.css}" />
<link rel="stylesheet" th:href="@{/resource/css/components.css}" />
<link rel="stylesheet" th:href="@{/resource/css/icons.css}" />
<link rel="stylesheet" th:href="@{/resource/css/pages.css}" />
<link rel="stylesheet" th:href="@{/resource/css/responsive.css}" />

<!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		        <![endif]-->

<script th:src="@{/resource/js/modernizr.min.js}"></script>

</head>

    <body th:inline="text" class="fixed-left">

        <div class="animationload">
            <div class="loader"></div>
        </div>

        <!-- Begin page -->
        <div  id="wrapper">

			<div th:replace="fragment/navbar-panel-top :: navbar-panel-top"></div>
			<div th:replace="fragment/navbar-panel-left :: navbar-panel-left"></div>
			
			<div th:switch="${sidebar}">
				<div th:case="'ROLE_AGENT'"><div th:replace="fragment/home-agent :: home-agent" /></div>
				<div th:case="'ROLE_ADMIN'"><div th:replace="fragment/home-admin :: home-admin" /></div>
			</div>

        </div>
        <!-- END wrapper -->

       <script>
		var resizefunc = [];
	</script>

	<!-- jQuery  -->
	<script th:src="@{/resource/js/jquery.min.js}"></script>
	<script th:src="@{/resource/js/bootstrap.min.js}"></script>
	<script th:src="@{/resource/js/detect.js}"></script>
	<script th:src="@{/resource/js/fastclick.js}"></script>
	<script th:src="@{/resource/js/jquery.slimscroll.js}"></script>
	<script th:src="@{/resource/js/jquery.blockUI.js}"></script>
	<script th:src="@{/resource/js/waves.js}"></script>
	<script th:src="@{/resource/js/wow.min.js}"></script>
	<script th:src="@{/resource/js/jquery.nicescroll.js}"></script>
	<script th:src="@{/resource/js/jquery.scrollTo.min.js}"></script>

	<script th:src="@{/resource/plugins/peity/jquery.peity.min.js}"></script>

	<!-- jQuery  -->
	<script th:src="@{/resource/plugins/waypoints/lib/jquery.waypoints.js}"></script>
	<script th:src="@{/resource/plugins/counterup/jquery.counterup.min.js}"></script>



	<script th:src="@{/resource/plugins/morris/morris.min.js}"></script>
	<script th:src="@{/resource/plugins/raphael/raphael-min.js}"></script>

	<script th:src="@{/resource/plugins/jquery-knob/jquery.knob.js}"></script>

	<script th:src="@{/resource/pages/jquery.dashboard.js}"></script>

	<script th:src="@{/resource/js/jquery.core.js}"></script>
	<script th:src="@{/resource/js/jquery.app.js}"></script>

	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$('.counter').counterUp({
				delay : 100,
				time : 1200
			});

			$(".knob").knob();

		});
	</script>
    </body>

</html>