<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" th:href="@{/resource/images/favicon.png}" />
<title>GNews.io - Dashboard</title>

<link href="./css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/resource/css/bootstrap.min.css}" />
<link href="./css/core.css" rel="stylesheet"
	th:href="@{/resource/css/core.css}" />
<link href="./css/components.css" rel="stylesheet"
	th:href="@{/resource/css/components.css}" />
<link href="./css/icons.css" rel="stylesheet"
	th:href="@{/resource/css/icons.css}" />
<link href="./css/pages.css" rel="stylesheet"
	th:href="@{/resource/css/pages.css}" />
<link href="./css/responsive.css" rel="stylesheet"
	th:href="@{/resource/css/responsive.css}" />

<script src="./js/modernizr.min.js"
	th:src="@{resource/js/modernizr.min.js}"></script>

</head>
<body>

	<div class="animationload">
            <div class="loader"></div>
        </div>

		<div class="account-pages"></div>
		<div class="clearfix"></div>
		<div class="wrapper-page">
			<div class=" card-box">
				<div class="panel-heading">
					<h3 class="text-center"> Sign Up to <strong class="text-custom">Gnews</strong> </h3>
				</div>

				<div class="panel-body">
					<form class="form-horizontal m-t-20" action="index.html">

						<div class="form-group ">
							<div class="col-xs-12">
								<input class="form-control" type="email" required="" placeholder="Email"/>
							</div>
						</div>

						<div class="form-group ">
							<div class="col-xs-12">
								<input class="form-control" type="text" required="" placeholder="Username"/>
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-12">
								<input class="form-control" type="password" required="" placeholder="Password"/>
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-12">
								<div class="checkbox checkbox-primary">
									<input id="checkbox-signup" type="checkbox" checked="checked"/>
									<label for="checkbox-signup">I accept <a href="#">Terms and Conditions</a></label>
								</div>
							</div>
						</div>

						<div class="form-group text-center m-t-40">
							<div class="col-xs-12">
								<button class="btn btn-default btn-block text-uppercase waves-effect waves-light" type="submit">
									Register
								</button>
							</div>
						</div>

					</form>

				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 text-center">
					<p>
						Already have account?<a th:href="@{/signin}" class="text-primary m-l-5"><b>Sign In</b></a>
					</p>
				</div>
			</div>

		</div>

		<script>
			var resizefunc = [];
		</script>

	<!-- jQuery  -->
	<script src="./js/jquery.min.js" th:src="@{resource/js/jquery.min.js}"></script>
	<script src="./js/bootstrap.min.js"
		th:src="@{resource/js/bootstrap.min.js}"></script>
	<script src="./js/detect.js" th:src="@{resource/js/detect.js}"></script>
	<script src="./js/fastclick.js" th:src="@{resource/js/fastclick.js}"></script>
	<script src="./js/jquery.slimscroll.js"
		th:src="@{resource/js/jquery.slimscroll.js}"></script>
	<script src="./js/jquery.blockUI.js"
		th:src="@{resource/js/jquery.blockUI.js}"></script>
	<script src="./js/waves.js" th:src="@{resource/js/waves.js}"></script>
	<script src="./js/wow.min.js" th:src="@{resource/js/wow.min.js}"></script>
	<script src="./js/jquery.nicescroll.js"
		th:src="@{resource/js/jquery.nicescroll.js}"></script>
	<script src="./js/jquery.scrollTo.min.js"
		th:src="@{resource/js/jquery.scrollTo.min.js}"></script>


	<script src="./js/jquery.core.js"
		th:src="@{resource/js/jquery.core.js}"></script>
	<script src="./js/jquery.app.js" th:src="@{resource/js/jquery.app.js}"></script>

</body>
</html>