<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<meta content="initial-scale=1.0, width=device-width" name="viewport"/>
	<link rel="icon" th:href="@{/resource/images/favicon.png}" />

	<title>GNEWS Pro - Social Media News</title>

	<!-- css -->
	<link th:href="@{/resource/analytics/css/font-awesome.min.css}" rel="stylesheet" />
	<!-- css for this project -->
	<link th:href="@{/resource/analytics/css/base.css}" rel="stylesheet"/>
	
	<!-- styling in detail project  -->
	<link th:href="@{/resource/analytics/css/style.css}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/resource/css/project.css}" />
	
	<!-- css for date range picker  -->
	<link th:href="@{/resource/analytics/css/daterangepicker.css}" rel="stylesheet"/>

	<style>
		.alert-box {
		    color:#555;
		    border-radius:10px;
		    padding:10px 10px 10px 36px;
		    margin-bottom:15px;
		}
		.warning {
			background:#fff8c4;
			border:1px solid #f2c779;
		}
		
		.closebtn {
		    margin-left: 15px;
		    margin-right: 15px;
		    color: #4a4a4a;
		    font-weight: bold;
		    float: right;
		    font-size: 22px;
		    line-height: 20px;
		    cursor: pointer;
		}
		
	</style>
	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body th:inline="text">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="url_config_analytics">
		<a href="#" id="project_id" th:text="${project.id}"></a>
		<a href="#" id="project_name" th:text="${project.name}"></a>
		<a href="#" id="startDates" th:text="${start}"></a>
		<a href="#" id="endDates" th:text="${end}"></a>
		<a th:href="@{/api/report/}" id="apiReport"></a>
    </div>
	
	<div th:replace="fragment/mc-navbar :: mc-navbar">&nbsp;</div>
	
	<div th:replace="analytics/fragment/analytics-sidebar :: analytics-sidebar">&nbsp;</div>
	
	<div th:replace="analytics/mobile/fragment/analytics-delete-project :: analytics-delete-project">&nbsp;</div>
	
	<div class="row">
	
		<div th:replace="fragment/analytic-leftbar :: analytic-leftbar">&nbsp;</div>
		
		<div class="content">
		
		<div th:replace="analytics/fragment/analytics-header :: analytics-header">&nbsp;</div>

		<div id="analytics-wrapper" class="container">
			<div class="row">
				<div class="col-sm-12 padding-less">
					<section class="content-inner">
						<div th:replace="analytics/fragment/analytics-navbar-inner :: analytics-navbar-inner">&nbsp;</div>						
							<div id="alertBox" class="alert-box warning">
								Please wait while we crawl your project
								  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
							</div>
							<div class="tab-pane active fade in" id="tab-keyword">
								<div class="el-loading" id="el-loading-5">
									<div class="el-loading-indicator">
										<div class="progress progress-position-absolute-top">
											<div class="progress-bar-indeterminate"></div>
										</div>
									</div>
									<div class="card noshadow">
										<div class="card-main">
											<div class="card-inner">
												<div class="row">
													<canvas id="keywords-mapping"></canvas>
									            </div>
											</div>
										</div>
									</div>
								</div>
							</div>
					</section>
					
					<section id="cards-wrapper" class="content-inner ">
						<div class="card noshadow">
							<div class="card-header">
								<div class="pull-left">
									<span class="termName"></span>
									<span style="color: #b7b7b7">Showing <b id="totalArticle"></b> news</span>
								</div>
							</div>
							<div id="grid">
								<div class="loader">Loading...</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	</div>
	
	<div class="scroll-top-wrapper hidden-xs">
		<span class="scroll-top-inner">
			<span class="icon">keyboard_arrow_up</span>
		</span>
	</div>
	
	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>
	
	<!-- js for this project -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>
	<script th:src="@{/resource/analytics/js/base.min.js}"></script>
	<script th:src="@{/resource/analytics/js/project.min.js}"></script>
	<script th:src="@{/resource/js/news-media-counter.js}"></script>
	<script th:src="@{/resource/js/loadCards.js}"></script>
	<script th:src="@{/resource/js/jquery.grid-a-licious.js}"></script>
	
	<!-- Chart Plugin -->
	<script th:src="@{/resource/analytics/js/highcharts.js}"></script>
	<script th:src="@{/resource/analytics/js/exporting.js}"></script>
	<script th:src="@{/resource/analytics/js/wordcloud2.js}"></script>
	<script th:src="@{/resource/analytics/js/jquery.number.js}"></script>
	
	<!-- Date Range Picker Plugin -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script th:src="@{/resource/analytics/js/daterangepicker.js}"></script>
	
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	    
	    var type 				= "keywordmap";
		var onArticleLoading 	= false;
		$('.date_pick').val(moment(startDate).format('YYYY-MM-DD') + " - " + moment(endDate).format('YYYY-MM-DD'));
		
		var stat = [[${project.crawlState}]];
		if(stat === "Finish" ){
			$('#alertBox').remove();
		}else if(stat === null){
			$('#alertBox').remove();
		}
		
		$("#alert").text("Our system is preparing your project");
     	$("#alert").addClass("alert-success");
		
		$(window).load(function() {
			$("#el-loading-5").addClass("el-loading-done");
		});
		
		function loadArticles(term) {
			loadContainer();
			articleCountByterm(term);
			mediaCountByTerm(term);
			loadNews(type, term);
		}
		
		$(window).scroll(function() {					
			var scrollHeight = (window.innerHeight + window.scrollY);
			var bodyHeight = document.body.offsetHeight;
			if ((scrollHeight) >= bodyHeight) {
				if(!onArticleLoading){
					setTimeout(function() {
						loadNews(type, currentTerm);
					}, 500);
				}
			}
		});
		
		$(document).ready(function(){
			allTermsByDate('#keywords-mapping');
        	$('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
        		document.getElementById("startDates").value = startDate;
     			document.getElementById("endDates").value = endDate;
     			redirect = idProject + '/dashboard/keyword-mapping?start=' + startDate + '&end=' + endDate;
     			window.location = '/project/'+redirect;
        	});
		});
		
	/*]]>*/
	</script>
</body>
</html>