<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="initial-scale=1.0, width=device-width" name="viewport" />
<link rel="icon" th:href="@{/resource/images/favicon.png}" />
<title>GNEWS Pro - Digital PR Solution</title>

<!-- css -->
<link th:href="@{/resource/analytics/css/font-awesome.min.css}"
	rel="stylesheet" />
<!-- css for this project -->
<link th:href="@{/resource/analytics/css/base.css}" rel="stylesheet" />

<!-- styling in detail project  -->
<link th:href="@{/resource/analytics/css/fullcalendar.css}"
	rel="stylesheet" />
<link th:href="@{/resource/analytics/css/style.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/resource/css/project.css}" />

<!-- css for date range picker  -->
<link th:href="@{/resource/analytics/css/daterangepicker.css}"
	rel="stylesheet" />

<link th:href="@{/resource/css/jquery.circliful.css}" rel="stylesheet" />

<!-- DataTables -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css" />

<!-- css for datatable styling -->
<link rel="stylesheet" th:href="@{/resource/css/datatable-style.css}" />

<!-- ie -->
<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body th:inline="text">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div
			class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragment/mc-navbar :: mc-navbar">&nbsp;</div>
	<div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>

	<div class="row">
	
	<div th:replace="fragment/analytic-leftbar :: analytic-leftbar">&nbsp;</div>

	<div class="content">
	
	<div id="inner-wrapper-shorter" class="container">
				<div class="row">
					<div class="col-sm-12 padding-less">
						<div class="content-head">
							<ul>
								<li><i class="fa fa-envelope-o icon-head"
									aria-hidden="true"></i></li>
								<li><h1>Email Marketing</h1></li>
								<li></li>
							</ul>
						</div>
					</div>

					<section class="content-inner">
						<div
							th:replace="marketing-mail/fragment/mail-navbar-inner :: mail-navbar-inner">&nbsp;</div>
						<div class="col-sm-12 padding-less">
							<div class="tab-pane active fade in" id="tab-keyword">
								<div class="card noshadow auto-height" id="reportDashboard">
									<h3>
										<span th:text="${data.subject}"></span>
									</h3>
									<div class="blast-detail" style="margin: 20px 0">
										<h5>
											Delivered on: <span  th:text="${#dates.format(data.sendDate, 'dd MMM yyyy HH:mm')}"></span>
										</h5>
										<h5>
											Group recipient: <span th:text="${data.emailGroup.name}"></span>
										</h5>
										<h5>
											Total recipients: <span th:text="${data.emailGroup.memberCount}"></span>
										</h5>
									</div>
									<h4>Clicked links <span class="biru" th:text="${data.subject}"></span></h4>
									<div class="row">
										<div class="col-sm-12">
											<table id="blastList"
												class="table table-striped table-bordered dt-responsive nowrap"
												width="100%" cellspacing="0">
												<thead>
													<tr>
														<th width="5%">No</th>
														<th width="55%">Email</th>
														<th class="text-center" width="20%">First name</th>
														<th class="text-center" width="20%">Last name</th>
													</tr>
												</thead>
												<tbody id="clickVisitors">
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<!-- js for this project -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>
	<script th:src="@{/resource/analytics/js/base.min.js}"></script>
	<script th:src="@{/resource/analytics/js/project.min.js}"></script>

	<!-- Chart Plugin -->
	<script th:src="@{/resource/analytics/js/highcharts.js}"></script>
	<script th:src="@{/resource/analytics/js/exporting.js}"></script>

	<script th:src="@{/resource/analytics/js/underscore.js}"></script>
	<script th:src="@{/resource/analytics/js/moment-with-langs.js}"></script>

	<script th:src="@{/resource/js/jquery.circliful.min.js}"></script>
	
	<!-- Chart js -->
	<script th:src="@{/resource/analytics/assets/Chart.js/Chart.min.js}"></script>
	<!-- <script th:src="@{/resource/analytics/js/chartjs.init.js}"></script> -->

	<!-- Data Tables -->
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/responsive/2.0.2/js/responsive.bootstrap.min.js"></script>

	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$.extend($.fn.dataTable.defaults, {
			responsive : true
		});
		
		var addLinks		= [[@{/api/track/link?groupId=}]] + [[${data.groupId}]];
		var addrLinkVisitor	= [[@{/api/track/link/visitor?groupId=}]] + [[${data.groupId}]];
		var addrLinkVisit 	= [[@{/api/track/link/visit?groupId=}]] + [[${data.groupId}]];
		var addrTotalVisit	= [[@{/api/track/group/visit?groupId=}]] + [[${data.groupId}]];
		var addrUniqueVisit	= [[@{/api/track/group/visit/unique?groupId=}]] + [[${data.groupId}]];
		
		var addrVisitorMail	= [[@{/api/track/link/visitor?groupId=}]] + [[${data.groupId}]];
		
		var projectId	= [[${project.id}]];
		var mailId		= [[${data.id}]];
		var linkId		= [[${linkId}]]
		var content 	= [];
		var n 			= 0;
		var total 		= 0;
		var visitor 	= 0;
		
		function getVisitor(linkId) {
			var uniqueData = [];
			$.ajax({
				type: "GET",
				url: addrLinkVisitor + '&linkId=' + linkId,
				data: '',
				success: function(data){
					console.log(addrLinkVisitor + '&linkId=' + linkId);
					$.each(data, function(i, item){
					    if($.inArray(item, uniqueData) === -1) uniqueData.push(item);
					});
					console.log(uniqueData);
					
					$.each(uniqueData, function(i, data){
						console.log(data);
						function setElement(data){
							var elems = '<tr>'+
								'<td class="count text-center"></td>'+
								'<td>'+ data.email +'</td>'+
								'<td class="text-center">'+ data.firstName +'</td>'+
								'<td class="text-center">'+ data.lastName +'</td>'+
							'</tr>';
							return elems;
						}
						var element = setElement(data);
						$('#clickVisitors').append(element);
					});
				}
			});
		}
		
		$(document).ready(function() {
			
			/* $('#blastList').DataTable();
			oTable = $('#blastList').DataTable(); */
			
			getVisitor(linkId);
		});
		
		/*]]>*/
	</script>
</body>
</html>