<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<meta content="initial-scale=1.0, width=device-width" name="viewport"/>
	<link rel="icon" th:href="@{/resource/images/favicon.png}" />
	<title>GNEWS Pro - Digital PR Solution</title>

	<!-- css -->
	<link th:href="@{/resource/analytics/css/font-awesome.min.css}" rel="stylesheet" />
	<!-- css for this project -->
	<link th:href="@{/resource/analytics/css/base.css}" rel="stylesheet"/>
	
	<!-- styling in detail project  -->
	<link th:href="@{/resource/analytics/css/fullcalendar.css}" rel="stylesheet"/>
	<link th:href="@{/resource/analytics/css/style.css}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/resource/css/project.css}" />
	
	<link rel="stylesheet" href="//cdn.rawgit.com/Alex-D/Trumbowyg/v2.0.5/dist/ui/trumbowyg.min.css"/>
	<link rel="stylesheet" href="//cdn.rawgit.com/Alex-D/Trumbowyg/v2.0.5/dist/plugins/colors/ui/trumbowyg.colors.min.css"/>
    	
	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<style>
		.trumbowyg-box, .trumbowyg-editor{
			width: 100%;
			margin: 60px auto 20px auto;
		}
	</style>
		
</head>
<body th:inline="text">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="fragment/mc-navbar :: mc-navbar">&nbsp;</div>
	<div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>

	<div class="row">
	
	<div th:replace="fragment/analytic-leftbar :: analytic-leftbar">&nbsp;</div>
	
	<div class="content">

		<div id="inner-wrapper-shorter" class="container">
			<div class="row">
				<div class="col-sm-12 padding-less">
					<div class="content-head">
					<ul>
						<li><i class="fa fa-envelope-o icon-head" aria-hidden="true"></i></li>
						<li><h1>Email Marketing</h1></li>
						<li></li>
					</ul>
					</div>
				</div>
				
					<section class="content-inner">
						<div th:replace="marketing-mail/fragment/mail-navbar-inner :: mail-navbar-inner">&nbsp;</div>
						
						<div class="col-sm-12 padding-less">
							<div class="tab-pane active fade in" id="tab-keyword">
								<form method="post" enctype="multipart/form-data" th:action="@{/project/}+${project.id}+@{/mail/marketing/send}">
									<div class="card noshadow" id="composeBlast">
										<div class="form-group">
											<label for="senderId">Sender (From) </label> 
											<select class="form-control selectpicker" id="senderId" name="senderId">
												<option th:each="data : ${senders}" th:value="${data.id}" th:text="${data.email}"></option>
											</select>
										</div>
										<div class="form-group">
											<label for="groupId">Group (To)</label> 
											<select class="form-control selectpicker" id="groupId" name="groupId" >
												<option th:each="data : ${groups}" th:value="${data.id}" th:text="${data.name}"></option>
											</select>
										</div>
										<div class="form-group">
											<label for="name">Subject</label> 
											<input id="name" type="text" name="subject" required="required" />
										</div>
										<div>
											<textarea id="content" name="content"></textarea>
										</div>
										<button class="btn btn-general waves-effect btn-block" type="submit">Send</button>
									</div>
								</form>
							</div>
						</div>
					</section>
			</div>
		</div>
	</div>
	</div>
		
	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>

	<!-- js for this project -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>
	<script th:src="@{/resource/analytics/js/base.min.js}"></script>
	<script th:src="@{/resource/analytics/js/project.min.js}"></script>
	<script src="//cdn.rawgit.com/Alex-D/Trumbowyg/4f115f42a98a8a3a5104fc113e3d255cd4eda460/dist/trumbowyg.min.js"></script>
	<!-- <script th:src="@{/resource/trumbowyg/trumbowyg.js}"></script> -->
	
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	
        $(document).ready(function() {
        	$('#content').trumbowyg();
        });
	
	/*]]>*/
	</script>
</body>
</html>