<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="modal-newsletter-config">
		<div aria-hidden="true" class="modal fade" id="newsletterConfig"
			role="dialog" tabindex="-1">
			<div class="modal-dialog modal-xs modal-signup">
				<div class="modal-content">
					<div class="modal-heading text-center">
						<h3>Newsletter configuration</h3>
					</div>
					<div class="modal-inner">
					<form method="post" th:action="@{/project/save/gnewsletterConfig}">
					<input type="hidden" name="id" th:value="${project.id}" />
						<div class="row" style="border-bottom: none;">
							<div class="col-md-12">
								<div class="form-group">
									<label for="time">Time</label> 
									<select name="hour">
										<option th:if="${project.letterHour} != null" th:text="${project.letterHour} + @{:00}" />
										<option value="1">01:00</option>
										<option value="2">02:00</option>
										<option value="3">03:00</option>
										<option value="4">04:00</option>
										<option value="5">05:00</option>
										<option value="6">06:00</option>
										<option value="7">07:00</option>
										<option value="8">08:00</option>
										<option value="9">09:00</option>
										<option value="10">10:00</option>
										<option value="11">11:00</option>
										<option value="12">12:00</option>
										<option value="13">13:00</option>
										<option value="14">14:00</option>
										<option value="15">15:00</option>
										<option value="16">16:00</option>
										<option value="17">17:00</option>
										<option value="18">18:00</option>
										<option value="19">19:00</option>
										<option value="20">20:00</option>
										<option value="21">21:00</option>
										<option value="22">22:00</option>
										<option value="23">23:00</option>
										<option value="0">00:00</option>
									</select>
								</div>
								<div class="modal-footer " style="padding: 20px 0 20px;">
									<button class="btn btn-general waves-effect btn-block"
										style="width: 100% !important;" type="submit">Save</button>
								</div>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
