<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" th:href="@{/resource/images/favicon.png}" />
<title>GNews.io - Dashboard</title>

<link href="./plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"
	rel="stylesheet"
	th:href="@{/resource/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css}" />
<link rel="stylesheet"
	th:href="@{/resource//plugins/timepicker/bootstrap-timepicker.min.css}" />
<link rel="stylesheet"
	th:href="@{/resource/plugins/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css}" />
<link rel="stylesheet"
	th:href="@{/resource/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}" />
<link rel="stylesheet"
	th:href="@{/resource/plugins/clockpicker/dist/jquery-clockpicker.min.css}" />
<link rel="stylesheet"
	th:href="@{/resource/plugins/bootstrap-daterangepicker/daterangepicker.css}" />

<link rel="stylesheet" th:href="@{/resource/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resource/css/core.css}" />
<link rel="stylesheet" th:href="@{/resource/css/components.css}" />
<link rel="stylesheet" th:href="@{/resource/css/icons.css}" />
<link rel="stylesheet" th:href="@{/resource/css/pages.css}" />
<link rel="stylesheet" th:href="@{/resource/css/responsive.css}" />

<!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
                    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
                    <![endif]-->

<script th:src="@{/resource/js/modernizr.min.js}"></script>


</head>


<body class="fixed-left">

	<!-- Begin page -->
	<div id="wrapper">

		<div th:replace="fragment/navbar-panel-top :: navbar-panel-top"></div>
		<div th:replace="fragment/navbar-panel-left :: navbar-panel-left"></div>

		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="container">
					<div class="col-lg-12">
						<div class="card-box">
							<h4 class="text-dark header-title m-t-0 m-b-30">All Billing</h4>
							<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										<th>Period</th>
										<th>Agent</th>
										<th>Amount</th>
										<th>Paid</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="billing :${billing}">
										<td scope="row" th:text="${billing.period}"></td>
										<td scope="row" th:text="${billing.agent}"></td>
										<td scope="row" th:text="${billing.amount}"></td>
										<td scope="row" th:text="${billing.paidOff}"></td>

									</tr>
								</tbody>
							</table>


						</div>
					</div>
					<!-- container -->
				</div>
			</div>

			<!-- content -->

			<footer class="footer"> 2016 © Gnews. </footer>

		</div>
		<!-- ============================================================== -->
		<!-- End Right content here -->
		<!-- ============================================================== -->

	</div>
	<!-- END wrapper -->

	<script>
		var resizefunc = [];
	</script>

	<!-- jQuery  -->
	<script th:src="@{/resource/js/jquery.min.js}"></script>
	<script th:src="@{/resource/js/bootstrap.min.js}"></script>
	<script th:src="@{/resource/js/detect.js}"></script>
	<script th:src="@{/resource/js/fastclick.js}"></script>
	<script th:src="@{/resource/js/jquery.slimscroll.js}"></script>
	<script th:src="@{/resource/js/jquery.blockUI.js}"></script>
	<script th:src="@{/resource/js/waves.js}"></script>
	<script th:src="@{/resource/js/wow.min.js}"></script>
	<script th:src="@{/resource/js/jquery.nicescroll.js}"></script>
	<script th:src="@{/resource/js/jquery.scrollTo.min.js}"></script>

	<script th:src="@{/resource/js/jquery.core.js}"></script>
	<script th:src="@{/resource/js/jquery.app.js}"></script>


	<script th:src="@{/resource/plugins/moment/moment.js}"></script>
	<script
		th:src="@{/resource/plugins/timepicker/bootstrap-timepicker.min.js}"></script>
	<script
		th:src="@{/resource/plugins/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js}"></script>
	<script
		th:src="@{/resource/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
	<script
		th:src="@{/resource/plugins/clockpicker/dist/jquery-clockpicker.min.js}"></script>
	<script
		th:src="@{/resource/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
	<script
		th:src="@{/resource/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js}"></script>

	<script>
	
		jQuery(document)
				.ready(
						function() {

							// Time Picker
							jQuery('#timepicker').timepicker({
								defaultTIme : false
							});
							jQuery('#timepicker2').timepicker({
								showMeridian : false
							});
							jQuery('#timepicker3').timepicker({
								minuteStep : 15
							});

							//colorpicker start

							$('.colorpicker-default').colorpicker({
								format : 'hex'
							});
							$('.colorpicker-rgba').colorpicker();

							// Date Picker
							jQuery('#datepicker').datepicker();
							jQuery('#datepicker-autoclose').datepicker({
								autoclose : true,
								todayHighlight : true
							});
							jQuery('#datepicker-inline').datepicker();
							jQuery('#datepicker-multiple-date').datepicker({
								format : "mm/dd/yyyy",
								clearBtn : true,
								multidate : true,
								multidateSeparator : ","
							});
							jQuery('#date-range').datepicker({
								toggleActive : true
							});

							//Clock Picker
							$('.clockpicker').clockpicker({
								donetext : 'Done'
							});

							$('#single-input').clockpicker({
								placement : 'bottom',
								align : 'left',
								autoclose : true,
								'default' : 'now'
							});
							$('#check-minutes').click(
									function(e) {
										// Have to stop propagation here
										e.stopPropagation();
										$("#single-input").clockpicker('show')
												.clockpicker('toggleView',
														'minutes');
									});

							//Date range picker
							$('.input-daterange-datepicker').daterangepicker({
								buttonClasses : [ 'btn', 'btn-sm' ],
								applyClass : 'btn-default',
								cancelClass : 'btn-white'
							});
							$('.input-daterange-timepicker').daterangepicker({
								timePicker : true,
								format : 'MM/DD/YYYY h:mm A',
								timePickerIncrement : 30,
								timePicker12Hour : true,
								timePickerSeconds : false,
								buttonClasses : [ 'btn', 'btn-sm' ],
								applyClass : 'btn-default',
								cancelClass : 'btn-white'
							});
							$('.input-limit-datepicker').daterangepicker({
								format : 'MM/DD/YYYY',
								minDate : '06/01/2015',
								maxDate : '06/30/2015',
								buttonClasses : [ 'btn', 'btn-sm' ],
								applyClass : 'btn-default',
								cancelClass : 'btn-white',
								dateLimit : {
									days : 6
								}
							});

							$('#reportrange span').html(
									moment().subtract(29, 'days').format(
											'MMMM D, YYYY')
											+ ' - '
											+ moment().format('MMMM D, YYYY'));

							$('#reportrange')
									.daterangepicker(
											{
												format : 'MM/DD/YYYY',
												startDate : moment().subtract(
														29, 'days'),
												endDate : moment(),
												minDate : '01/01/2012',
												maxDate : '12/31/2015',
												dateLimit : {
													days : 60
												},
												showDropdowns : true,
												showWeekNumbers : true,
												timePicker : false,
												timePickerIncrement : 1,
												timePicker12Hour : true,
												ranges : {
													'Today' : [ moment(),
															moment() ],
													'Yesterday' : [
															moment().subtract(
																	1, 'days'),
															moment().subtract(
																	1, 'days') ],
													'Last 7 Days' : [
															moment().subtract(
																	6, 'days'),
															moment() ],
													'Last 30 Days' : [
															moment().subtract(
																	29, 'days'),
															moment() ],
													'This Month' : [
															moment().startOf(
																	'month'),
															moment().endOf(
																	'month') ],
													'Last Month' : [
															moment()
																	.subtract(
																			1,
																			'month')
																	.startOf(
																			'month'),
															moment()
																	.subtract(
																			1,
																			'month')
																	.endOf(
																			'month') ]
												},
												opens : 'left',
												drops : 'down',
												buttonClasses : [ 'btn',
														'btn-sm' ],
												applyClass : 'btn-default',
												cancelClass : 'btn-white',
												separator : ' to ',
												locale : {
													applyLabel : 'Submit',
													cancelLabel : 'Cancel',
													fromLabel : 'From',
													toLabel : 'To',
													customRangeLabel : 'Custom',
													daysOfWeek : [ 'Su', 'Mo',
															'Tu', 'We', 'Th',
															'Fr', 'Sa' ],
													monthNames : [ 'January',
															'February',
															'March', 'April',
															'May', 'June',
															'July', 'August',
															'September',
															'October',
															'November',
															'December' ],
													firstDay : 1
												}
											},
											function(start, end, label) {
												console.log(
														start.toISOString(),
														end.toISOString(),
														label);
												$('#reportrange span')
														.html(
																start
																		.format('MMMM D, YYYY')
																		+ ' - '
																		+ end
																				.format('MMMM D, YYYY'));
											});

						});
	</script>
	<script>$('#upload_img input').change(function () {
        var avatar = $("#file").val();
        var extension = avatar.split('.').pop().toUpperCase();
      
      $('.alert.add-img').addClass('alert-danger');
      $('.alert.add-img').find('strong').text('Wrong format Image'); 
      $('.alert.add-img').find('p').text('image upload only accept JPG or JPEG file format !');
      $('#upload_img button').hide();
        }
        else {
            avatarok = 1;     
            $('#upload_img button').show();
        }         
    });</script>

	<script>
		jQuery(document)
				.ready(
						function() {

							//advance multiselect start
							$('#my_multi_select3')
									.multiSelect(
											{
												selectableHeader : "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'/>",
												selectionHeader : "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'/>",
												afterInit : function(ms) {
													var that = this, $selectableSearch = that.$selectableUl
															.prev(), $selectionSearch = that.$selectionUl
															.prev(), selectableSearchString = '#'
															+ that.$container
																	.attr('id')
															+ ' .ms-elem-selectable:not(.ms-selected)', selectionSearchString = '#'
															+ that.$container
																	.attr('id')
															+ ' .ms-elem-selection.ms-selected';

													that.qs1 = $selectableSearch
															.quicksearch(
																	selectableSearchString)
															.on(
																	'keydown',
																	function(e) {
																		if (e.which === 40) {
																			that.$selectableUl
																					.focus();
																			return false;
																		}
																	});

													that.qs2 = $selectionSearch
															.quicksearch(
																	selectionSearchString)
															.on(
																	'keydown',
																	function(e) {
																		if (e.which == 40) {
																			that.$selectionUl
																					.focus();
																			return false;
																		}
																	});
												},
												afterSelect : function() {
													this.qs1.cache();
													this.qs2.cache();
												},
												afterDeselect : function() {
													this.qs1.cache();
													this.qs2.cache();
												}
											});

							// Select2
							$(".select2").select2();

							$(".select2-limiting").select2({
								maximumSelectionLength : 2
							});

							$('.selectpicker').selectpicker();
							$(":file").filestyle({
								input : false
							});
						});

		//Bootstrap-TouchSpin
		$(".vertical-spin").TouchSpin({
			verticalbuttons : true,
			verticalupclass : 'ion-plus-round',
			verticaldownclass : 'ion-minus-round'
		});
		var vspinTrue = $(".vertical-spin").TouchSpin({
			verticalbuttons : true
		});
		if (vspinTrue) {
			$('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
		}

		$("input[name='demo1']").TouchSpin({
			min : 0,
			max : 100,
			step : 0.1,
			decimals : 2,
			boostat : 5,
			maxboostedstep : 10,
			postfix : '%'
		});
		$("input[name='demo2']").TouchSpin({
			min : -1000000000,
			max : 1000000000,
			stepinterval : 50,
			maxboostedstep : 10000000,
			prefix : '$'
		});
		$("input[name='demo3']").TouchSpin();
		$("input[name='demo3_21']").TouchSpin({
			initval : 40
		});
		$("input[name='demo3_22']").TouchSpin({
			initval : 40
		});

		$("input[name='demo5']").TouchSpin({
			prefix : "pre",
			postfix : "post"
		});
		$("input[name='demo0']").TouchSpin({});

		//Bootstrap-MaxLength
		$('input#defaultconfig').maxlength()

		$('input#thresholdconfig').maxlength({
			threshold : 20
		});

		$('input#moreoptions').maxlength({
			alwaysShow : true,
			warningClass : "label label-success",
			limitReachedClass : "label label-danger"
		});

		$('input#alloptions').maxlength({
			alwaysShow : true,
			warningClass : "label label-success",
			limitReachedClass : "label label-danger",
			separator : ' out of ',
			preText : 'You typed ',
			postText : ' chars available.',
			validate : true
		});

		$('textarea#textarea').maxlength({
			alwaysShow : true
		});

		$('input#placement').maxlength({
			alwaysShow : true,
			placement : 'top-left'
		});
	</script>

</body>
</html>
