body {
  padding-bottom: 50px;
  font-weight: 400;
}

.content-heading {
  background-image: url(./images/bg/alt.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 68px;
}

.page-alt .content-heading {
  background-image: url(./images/bg/alt.jpg);
}

.page-blue .content-heading {
  background-image: url(./images/bg/blue.jpg);
}

.page-green .content-heading {
  background-image: url(./images/bg/green.jpg);
}

.page-purple .content-heading {
  background-image: url(./images/bg/purple.jpg);
}

.page-red .content-heading {
  background-image: url(./images/bg/red.jpg);
}

.page-yellow .content-heading {
  background-image: url(./images/bg/yellow.jpg);
}
