<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:title" content="GNEWS" />
    <meta property="og:url" content="http://www.gnews.id" />
    <meta property="og:image" th:content="@{/resource/images/favicon.png}" />
    <meta property="og:description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
    <meta property="og:site_name" content="gnews.id" />
    <meta name="description" content="its a genius way to read the news" />
    <meta name="author" content=""/>
    <link rel="icon" th:href="@{/resource/images/favicon.png}" />
    <title>GNEWS - Oops!</title>

    <!-- css -->
    <link rel="stylesheet" th:href="@{/resource/css/base.css}" />
    <!-- css for this project -->
    <link rel="stylesheet" th:href="@{/resource/css/project.css}" />
    <link href="./css/style.css" rel="stylesheet" th:href="@{/resource/css/style.css}"/>

    <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        body{
            background-color: #fff!important;
            /*background-image: url("../images/bg_illustration.png");
            background-attachment: fixed;
            background-repeat: repeat-x;
            background-position: center bottom;*/
        }
        .reduce-radius{

          border-radius: 10px !important ;

          -webkit-border-radius: 10px !important ;

          -moz-border-radius: 10px !important ;

        }
        .btn{
        	background-color:#00BCD4;
        }
        .btn-lg{
        	line-height: 20px;
        }
        .intro-header{
        	padding:0px;
        }

		.container {
		  position: relative;
		  height:100vh;

		}
		.jumbotron {
		  position: absolute;
		  top: 50%;
		  left:50%;
		  transform: translate(-50%,-50%);

		}
		@media screen and (max-width: 767px) {
			h1{
				font-size:32px;
			}
		}
    </style>

</head>

<body>
<div class="container" >

  <div class="jumbotron">
    <div class="row">
                <div class="row-lg-12 text-center">
                    <div class="image-error">
                        <img th:src="@{/resource/images/error_forbidden.png}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
					<div class=" text-center">

                       <h1 style="line-height: 35px; color:#4a4a4a; font-weight: 900;">Forbidden Access</h1>
                        <!-- <h3 style="margin-top: 25px;">You don't have permission to access the requested object.</h3> -->
                         <h3 style="margin-top: 10px; font-size: 25px; color:#bcbcbc;">No no no, you can't do this.</h3>
                        <ul class="list-inline intro-social-buttons button-header">
                            <li>
                               <a href="javascript:history.go(-1)" class="btn reduce-radius btn-lg "><span class="network-name" style="color:#fff;">Back to Previous Page</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

  </div>

</div>


<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"></script>-->
<!-- js -->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
<script th:src="@{/resource/js/base.min.js}"></script>
<script th:src="@{/resource/js/modernizr.custom.79639.js}"></script>

<!-- js for this project -->
<script th:src="@{resource/js/project.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="./js/ripples.min.js" th:src="@{/resource/js/ripples.min.js}"></script>
<!--<script src="./js/snackbar.min.js"></script>
<script src="./js/sidebar.js"></script>-->

    </body>
</html>
