<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GNEWS Pro - Social Media News</title>
    <meta name="description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
    <meta name="author" content="GNEWS.ID" />
    <meta name="keywords" content="best app for news and reading,best news reader app,best free news reader app,best mobile app,apps,gnews,gnews apps" />
    <meta property="og:title" content="GNEWS - Social Media News" />
    <meta property="og:url" content="http://GNEWS.ID" />
    <meta property="og:image" content="@{/resource/images/favicon.png}" />
    <meta property="og:description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
    <meta property="og:site_name" content="GNEWS.ID" />

    <link rel="icon" th:href="@{/resource/images/favicon.png}" />

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <!-- css -->
    <link rel="stylesheet" th:href="@{/resource/css/base.css}" />
    <link rel="stylesheet" th:href="@{/resource/css/animate.css}" />
    <!-- css for this project -->
    <link rel="stylesheet" th:href="@{/resource/css/project.css}" />

    <!-- ie -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body style="margin-top: 0">

    <div th:replace="fragment/landing-navbar :: landing-navbar"></div>

    <div id="skrollr-body">
    	<div>
    	<section id="intro-wrapper" class="homeSlide">
    		<div class="background" 
    		data-center="background-position: 50% 0px;"
    		data-top-bottom="background-position: 50% -100px;"
    		data-anchor-target="#intro-wrapper">
    			<div class="hsContainer">
    				<div>
    					<div class="container">
    						<div class="row">
    							<div class="col-sm-12 text-center">
    								<img class="img-responsive" th:src="@{/resource/images/landing/lo_gnewspro_white.png}" alt="gnews analytics" />
    								<h1>Digital PR Solution</h1>
			                        <div class="sub-head row">
			                        	<div class="col-sm-6 text-center hidden-xx hidden-xs">
			                        		<div class="wrapper">
			                        			<h4>Search, collect, analyze, and distribute news that relates to your company and brands</h4>
			                        		</div>
			                        	</div>
			                        	<div class="col-sm-6 text-center hidden-xx hidden-xs">
			                        		<div class="wrapper">
			                        			<h4>A market intelligence tool. Discover industry-specific topics, gauge its competitive landscape.</h4>
			                        		</div>
			                        	</div>
			                        	<div class="col-sm-12 text-center hidden-sm hidden-md hidden-lg">
			                        		<div class="wrapper">
			                        			<h4>Search, collect, and analyze news that relates to your company and brands</h4>
			                        			<h4>A market intelligence tool. Discover industry-specific topics, gauge its competitive landscape.</h4>
			                        		</div>
			                        	</div>
			                        </div>
			                        <br/>
			                        <a class="btn btn-request waves-effect" href="#3">Request Inquiries</a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
    	</div>
        <section id="genesis">
        		<div class="hsContainer">
        			<div class="hsContent">
        				<div class="container">
		        			<div class="row"
		        			data--200-bottom="opacity: 1"
		        			data-center="opacity: 1"
		        			data-206-top="opacity: 1"
		        			data-anchor-target="#genesis h4">
		        				<div class="col-md-5 text-center">
		        					<img class="img-responsive" th:src="@{/resource/images/landing/logo_genesis.png}" alt="genesis" />
		        				</div>
		        				<div class="col-md-7 text-left">
		        					<h4><strong>Powered by Genesis</strong>,<br/>our proprietary scalable machine-learning big data analytic.</h4>
		        				</div>
		        			</div>
		        		</div>
        			</div>
        		</div>
        </section>
        
        <section id="1">
            <div class="" id="benefit">
                <div class="container text-center">
                    <h1><span>WE SIMPLIFY</span></h1>
                    <div class="row">
                        <div class="col-md-4">
                        	<!-- <div style="background: #007AAA; width: 100px; height: 100px; border-radius: 50%;">
                        		<h4 style="color: #fff;">Data</h4>
                        	</div> -->
                            <h3><strong><b>Data</b></strong></h3>
                            <div class='frame'>
                                <img th:src="@{/resource/images/landing/ic_why_data.png}" />
                            </div>
                            <h4>Put your data to work. Gain insights, ideas, and problem-solving solution by using curated and carefully-mined data.</h4>
                        </div>
                        <div class="col-md-4">
                        	<h3><strong><b>Effort</b></strong></h3>
                            <div class='frame'>
                                <img th:src="@{/resource/images/landing/ic_why_effort.png}" />
                            </div>
                            <h4>Move to automation, spend less effort.</h4>
                        </div>
                        <div class="col-md-4">
                            <h3><strong><b>Cost</b></strong></h3>
                            <div class='frame'>
                                <img th:src="@{/resource/images/landing/ic_why_cost.png}" />
                            </div>
                            <h4>Simplify process, effectively manage cost, boost profits.</h4>
                        </div>
                    </div>
                </div>
            </div>
        
        <div id="adaptive">
            <div class="container-fluid">
            	<div class="row vertical-align">
            		<div class="col-xs-6 col-md-5 text-right" style="z-index: 9;">
                        <div class="copy"
			                data-bottom-top="opacity: 0"
			                data--100-bottom="opacity: 0"
			                data--280-bottom="opacity: 1;"
			                data-280-top="opacity: 1;"
			                data-106-top="opacity: 1;"
			                data-anchor-target="#adaptive .copy">
			                <h2>Easy to access</h2>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-7 pull-right">
                        <div class="adapt-sec"
                        data-center="background-position: 80% 0px;"
			    		data-top-bottom="background-position: 30% -100px;"
			    		data-anchor-target="#adaptive">
                        	<!-- <img style="" th:src="@{/resource/images/landing/img_devices_landing.png}" class="img-responsive" /> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        
        <section id="2" style="background-color: #F4F4F4;border-bottom: 1px solid #E6E6E6;">
            <div class="row" id="features">
                <div class="container">
                    <div class="col-sm-12" >
						<h1><span style="background: #F4F4F4;">OUR SERVICES</span></h1>
					<div class="row">                   
	                    <div class="container">
						    <div class="row vertical-align">
						        <div class="col-sm-3 text-center">
						            <div>
						            	<img class="shadowed-box" th:src="@{/resource/images/landing/ic_gnewspro_digitalclipping.png}" alt="keyword mapping" />
									</div>
						        </div>
						        <div class="col-sm-9">
						            <div >
						            	<h3>Digital Clipping</h3>
						            	<h4>Theoretically, everything that goes online will remain online – but the truth is that much will be overwritten or deleted – and will disappear entirely. GNEWS Pro will archive every news across the periods and save your time accessing your past news at specific period of time.</h4> 	
									</div>
						        </div>
						    </div>
						</div>
                    </div>
                    <div class="row">                   
	                    <div class="container">
						    <div class="row vertical-align">
						    	<div class="col-sm-3 text-center">
						            <div>
										<img class="shadowed-box" th:src="@{/resource/images/landing/ic_gnewspro_gnewsletter.png}" alt="keyword mapping" />
									</div>
						        </div>
						        <div class="col-sm-9">
						            <div>
						            	<h3>GNEWSLetter</h3>
						            	<h4>You are able to monitor what is being talked about your company, industry, and brands, so you will be informed across your business landscape. Customize the daily news briefs to your topic and get it delivered at your preference time.</h4> 	
									</div>
						        </div>
						    </div>
						</div>
                    </div>
                    <div class="row">                   
	                    <div class="container">
						    <div class="row vertical-align">
						        <div class="col-sm-3 text-center">
						            <div>
										<img class="shadowed-box" th:src="@{/resource/images/landing/ic_gnewspro_automatedreport.png}" />
									</div>
						        </div>
						        <div class="col-sm-9">
						            <div>
						            	<h3>Analytics Dashboard</h3>
						            	<h4>Receive curated insights of media responses. Continuous monitoring and analysis of the report is a central part of systematic communication control. This will support communication strategies planning and may be used to monitor results achieved through a targeted media.</h4> 	
									</div>
						        </div>
						    </div>
						</div>
                    </div>
                    <div class="row" style="margin-bottom: 20px;">                   
	                    <div class="container">
						    <div class="row vertical-align">
						        <div class="col-sm-3 text-center">
						            <div>
										<img class="shadowed-box" th:src="@{/resource/images/landing/ic_gnewspro_automatedreport.png}" />
									</div>
						        </div>
						      	<div class="col-sm-9">
						            <div>
						            	<h3>Automated Report</h3>
						            	<h4>Make it quick in reporting! GNEWS Pro makes it easy in creating printable report. Skip the painful reporting process, it will create itself in only a single click!</h4> 	
									</div>
						        </div>
						    </div>
						</div>
                    </div>
                    <div class="row">                   
	                    <div class="container">
						    <div class="row vertical-align">
						        <div class="col-sm-3  text-center">
						            <div>
										<img class="shadowed-box" th:src="@{/resource/images/landing/ic_gnewspro_emailmarketing.png}"/>
									</div>
						        </div>
						      	<div class="col-sm-9">
						            <div>
						            	<h3>Email Marketing</h3>
						            	<h4>Identify patterns of content engagement, then we help you identify the targeted client behaviour afterwards. Every mail you sent will be more personalized. Finally, we help you evaluate overall client experience.</h4>
									</div>
						        </div>
						    </div>
						</div>
                    </div>
                    </div> <!-- end of col -->
                </div> <!-- end of container -->
            </div>
        </section>
        
        <!-- <section id="4" style="background-color: #244768">
            <div class="row" id="testimony">
                <div class="container">
                    <div class="col-sm-12" >
						<h1><span>TESTIMONIAL</span></h1>
					<div class="row">                   
	                    <div class="container">
						    <div class="row vertical-align">
						        <div class="col-sm-4 text-right">
						            <div>
						            	<img th:src="@{/resource/images/img_people_testimony.png}"/>
									</div>
						        </div>
						        <div class="col-sm-8 pull-left">
						            <ul class="callouts">
						            	<li class="callouts-left"><strong>Mr. John Doe</strong><br/>Lorem asdf asdf asdf asdf adsf</li>
						            </ul>
						        </div>
						    </div>
						</div>
                    </div>
                    </div>
                </div> 
            </div>
        </section> -->
        
        <section id="3" class="contact">
            <div id="contact" class="container">
                <div class="row">
                    <h1><span>CONTACT US</span></h1>
                    <div class="col-md-7">
                        <div class="content-inquiries">
                            <h3>GET A QUOTE</h3>
                            <h4>We will take care of your business. Get connected with us to see what we can assist further.</h4>
                            <form method="post" th:action="@{/inquiry/save}" th:object="${inquiries}" >
                                <div class="form-group">
                                    <label for="names">Name</label>
                                    <input id="names" type="text" name="name" required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="mail" type="email" name="email" required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input id="phone" type="text" name="phone" required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="company">Company</label>
                                    <input id="company" type="text" name="company" required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="position">Position</label>
                                    <input id="position" type="text" name="position" required="required" />
                                </div>
                                <div class="form-group">
                                <label  for="industries">Industries</label>
                                	<select id="industries" name="industries" class="form-control">
                                       	<option value="">Select Industries</option>
	                          			<option value="Accounting/Audit/Tax Services">Accounting/Audit/Tax Services</option>
	                          			<option value="Advertising/Public Relations/Marketing Services">Advertising/Public Relations/Marketing Services</option>
	                          			<option value="Agriculture Cultivation">Agriculture Cultivation</option>
	                          			<option value="Airline">Airline</option>
	                          			<option value="Architecture/Building/Construction">Architecture/Building/Construction</option>
	                          			<option value="Athletics/Sports">Athletics/Sports</option>
	                          			<option value="Automotive">Automotive</option>
	                          			<option value="Banking">Banking</option>
	                          			<option value="BUMN (Government Institution)">BUMN (Government Institution)</option>
	                          			<option value="Charity/Social Services/Non-Profit Organisation">Charity/Social Services/Non-Profit Organisation</option>
	                          			<option value="Chemical/Plastic/Paper/Petrochemical">Chemical/Plastic/Paper/Petrochemical</option>
	                          			<option value="Civil Services (Government, Armed Forces)">Civil Services (Government, Armed Forces)</option>
	                          			<option value="Clothing/Garment/Textile">Clothing/Garment/Textile</option>
	                          			<option value="Consultant (Marketing/PR)">Consultant (Marketing/PR)</option>
	                          			<option value="Convinience Store">Convinience Store</option>
	                          			<option value="Creative Agency">Creative Agency</option>
	                          			<option value="Design/Interior Design/Graphic Design">Design/Interior Design/Graphic Design</option>
	                          			<option value="Education/University">Education/University</option>
	                          			<option value="Electronics/Electrical Equipment">Electronics/Electrical Equipment</option>
	                          			<option value="Energy/Power/Water/Waste Management/Natural Resources/Mining">Energy/Power/Water/Waste Management/Natural Resources/Mining</option>
	                          			<option value="Engineering - Building, Civil, Construction / Quantity Survey">Engineering - Building, Civil, Construction / Quantity Survey</option>
	                          			<option value="Engineering - Electrical/Electronic/Mechanical">Engineering - Electrical/Electronic/Mechanical</option>
	                          			<option value="Engineering - Others">Engineering - Others</option>
	                          			<option value="Entertainment/Recreation">Entertainment/Recreation</option>
	                          			<option value="F &amp; B (Food and Beverage) / Catering">F &amp; B (Food and Beverage) / Catering</option>
	                          			<option value="Fashion">Fashion</option>
	                          			<option value="Financial Services">Financial Services</option>
	                          			<option value="FMCG (Fast Moving Customer Goods)">FMCG (Fast Moving Customer Goods)</option>
	                          			<option value="Freight Forwarding/Delivery/Shipping">Freight Forwarding/Delivery/Shipping</option>
	                          			<option value="General Business Services">General Business Services</option>
	                          			<option value="Health &amp; Beauty Care">Health &amp; Beauty Care</option>
	                          			<option value="Hospital">Hospital</option>
	                          			<option value="Hospitality/Catering">Hospitality/Catering</option>
	                          			<option value="Hotel">Hotel</option>
	                          			<option value="Human Resources Management/Consultancy">Human Resources Management/Consultancy</option>
	                          			<option value="Industrial Machinery/Automation Equipment">Industrial Machinery/Automation Equipment</option>
	                          			<option value="Infrastructure">Infrastructure</option>
	                          			<option value="Insurance/Pension Funding">Insurance/Pension Funding</option>
	                          			<option value="IT (Information Technology)">IT (Information Technology)</option>
	                          			<option value="Jewellery/Gems/Watches">Jewellery/Gems/Watches</option>
	                          			<option value="Laboratory">Laboratory</option>
	                          			<option value="Law Firm">Law Firm</option>
	                          			<option value="Legal Services">Legal Services</option>
	                          			<option value="Logistic">Logistic</option>
	                          			<option value="Logistics">Logistics</option>
	                          			<option value="Management Consultancy/Service">Management Consultancy/Service</option>
	                          			<option value="Manufacturing">Manufacturing</option>
	                          			<option value="Mass Transportation">Mass Transportation</option>
	                          			<option value="Medical/Pharmaceutical">Medical/Pharmaceutical</option>
	                          			<option value="Mixed Industry Group">Mixed Industry Group</option>
	                          			<option value="Motor Vehicles">Motor Vehicles</option>
	                          			<option value="Oil and Gas/Petroleum">Oil and Gas/Petroleum</option>
	                          			<option value="Packaging">Packaging</option>
	                          			<option value="Performance/Musical/Artistic">Performance/Musical/Artistic</option>
	                          			<option value="Print Media/Media/Publishing">Print Media/Media/Publishing</option>
	                          			<option value="Production House">Production House</option>
	                          			<option value="Property">Property</option>
	                          			<option value="Property Development">Property Development</option>
	                          			<option value="Property Management/Consultancy">Property Management/Consultancy</option>
	                          			<option value="Public Utilities">Public Utilities</option>
	                          			<option value="Radio">Radio</option>
	                          			<option value="Research/Survey">Research/Survey</option>
	                          			<option value="Retail/Wholesale">Retail/Wholesale</option>
	                          			<option value="Security Escort">Security Escort</option>
	                          			<option value="Security/Fire/Electronic Access Controls">Security/Fire/Electronic Access Controls</option>
	                          			<option value="Supermaket">Supermaket</option>
	                          			<option value="Telecommunication">Telecommunication</option>
	                          			<option value="Television">Television</option>
	                          			<option value="Tourism/Travel Agency">Tourism/Travel Agency</option>
	                          			<option value="Toys">Toys</option>
	                          			<option value="Trading and Distribution">Trading and Distribution</option>
	                          			<option value="Transportation">Transportation</option>
                                   	</select>
                                </div>
                                <div class="form-group">
                                    <label for="messages">Messages</label>
                                    <textarea  id="messages" name="message"></textarea>
                                </div>
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group pull-right">
	                                	<button class="btn btn-general waves-effect" type="submit">Submit</button>
	                                </div>
									</div>									
								</div>                                                   
                            </form>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <img alt="Logo Gnews Mandiri Teknologi" th:src="@{/resource/images/gnews-logo-mini-compress.png}" />
                        <br/>
                        <h3><b>PT. GNEWS MANDIRI TEKNOLOGI</b></h3>
                        <p>JL. Kemang Selatan IX No. 1B
                        <br/> Jakarta 12730 Indonesia
                        <br/><i class="fa fa-envelope"> </i> info@gnews.id 
                        <br/><i class="fa fa-phone"> </i>  +62 21 7179 6431
                        <br/>
                        <br/> www.gnews.id 
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div th:replace="fragment/landing-footer :: landing-footer"></div>
    </div>
    
    <div th:replace="fragment/modal-signin :: modal-signin"></div>
    <div th:replace="fragment/modal-signup :: modal-signup"></div>
    <div th:replace="fragment/modal-inquiries :: modal-inquiries"></div>
    <!-- js -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
    <script th:src="@{/resource/js/base.min.js}"></script>
    <script th:src="@{/resource/js/skrollr.min.js}"></script>
    <script th:src="@{/resource/js/_main.js}"></script>

    <!-- js for this project -->

    <script th:src="@{resource/js/project.js}"></script>
	
	<script type="text/javascript">
	/*<![CDATA[*/
	function getQueryVariable(variable)
	{
	       var query = window.location.search.substring(1);
	       var vars = query.split("&");
	       for (var i=0;i<vars.length;i++) {
	               var pair = vars[i].split("=");
	               if(pair[0] == variable){return pair[1];}
	       }
	       return(false);
	}

	var signin = getQueryVariable("signin");
	
	$('.alert-login').hide();
	
	if(signin == "error"){
		console.log("got it");
		$('.alert-login').show();
		$('#signinModal').modal('show');
	    
	}
	/*]]>*/
	</script>
	
    <script type="text/javascript">
        //<![CDATA[
       (function($) {          
		    $(document).ready(function(){                    
		        $(window).scroll(function(){                          
		            if ($(this).scrollTop() > 100) {
		            	$(".navbar-brand").attr("src","../resource/images/logo_gnewspro.png");
		                $(".header").css({"backgroundColor": "white", "border-bottom": "1px solid #DDDDDD"});
		                $(".header a").css({"color": "#4a4a4a"});
		            } else {
		            	$(".navbar-brand").attr("src","../resource/images/landing/lo_gnewspro_white.png");
		                $(".header").css({"backgroundColor": "transparent", "border-bottom": "none"});
		            	$(".header a").css({"color": "white"});
		            }
		        });
		    });
		})(jQuery);
		       
                   
         var sections = $('section'),
	         nav = $('.active-scroll'),
	         nav_height = nav.outerHeight();
         
        // get # section when come from another page
        var idParameter = "";
        idParameter = location.href.split(location.host)[1].replace(/^\//,'');
        
        // scrooling to section when click from another page
        if(idParameter) {
        	var id = idParameter;
            $('html, body').animate({
            	scrollTop: $(id).offset().top - nav_height + 10
            }, 500);             
        }
		
		// active button scrolling 
        $(window).on('scroll', function() {
            var cur_pos = $(this).scrollTop();

            sections.each(function() {
                var top = $(this).offset().top - nav_height,
                    bottom = top + $(this).outerHeight();

                if (cur_pos >= top && cur_pos <= bottom) {
                    nav.find('a').each(function() {
                        $(this).removeClass('active');
                        sections.removeClass('active');
                    });

                    $(this).addClass('active');
                    nav.find('a[href="#' + $(this).attr('id') + '"]').addClass('active');
                }
            });
        });
		
		// active button and scrolling 
        nav.find('a').on('click', function() {
            var $el = $(this),
                id = $el.attr('href');

            $('html, body').animate({
                scrollTop: $(id).offset().top - nav_height + 10
            }, 500);

            return false;
        });
		
		// scroll when request 
        $('.btn-request').on('click', function() {
            var $el = $(this),
                id = $el.attr('href');
            
            $('html, body').animate({
                scrollTop: $(id).offset().top - nav_height  + 10
            }, 500);

            return false;
        });
        
        $('document').on('load', function() {
            var id = queryString;
            
            $('html, body').animate({
                scrollTop: $(id).offset().top - nav_height
            }, 500);

            return false;
        });
		// auto focus when modal shown
        $('#signinModal').on('shown.bs.modal', function() {
            $("input[name='username']").focus();
        });
		
		// change from modal signin into modal sign up when link registered clicked
        $('.create-account').on('click', function(){
        	 $('#signinModal').modal('hide');
        	 $('#signupModal').modal('show');
        });
		$('.sign-in-here').on('click', function(){
			$('#signupModal').modal('hide');
			$('#signinModal').modal('show');
       });
        
        // next button from basic-information to your account
        var $tabs = $('.tab-nav li');
        $('#nexttab').on('click', function() {
		    $tabs.filter('.active').next('li').find('a[data-toggle="tab"]').tab('show');
		});
        //]]>
    </script>
</body>
</html>