<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" th:href="@{./resource/images/favicon.png}" />
<title>GNEWS Analytic - Social Media News</title>

<link rel="stylesheet" th:href="@{/resource/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resource/css/core.css}" />
<link rel="stylesheet" th:href="@{/resource/css/components.css}" />
<link rel="stylesheet" th:href="@{/resource/css/icons.css}" />
<link rel="stylesheet" th:href="@{/resource/css/pages.css}" />
<link rel="stylesheet" th:href="@{/resource/css/responsive.css}" />

<!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
                <![endif]-->

<script th:src="@{/resource/js/modernizr.min.js}"></script>


</head>

<body>

		<div class="account-pages"></div>
		<div class="clearfix"></div>
		<div class="wrapper-page">
			<div class=" card-box">
				<div class="panel-heading">
					<h3 class="text-center"> Reset Password </h3>
				</div>

				<div class="panel-body">
					<form method="post" action="#" role="form" class="text-center">
						<div class="alert alert-info alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
								×
							</button>
							Enter your <b>Email</b> and instructions will be sent to you!
						</div>
						<div class="form-group m-b-0">
							<div class="input-group">
								<input type="email" class="form-control" placeholder="Enter Email" required=""/>
								<span class="input-group-btn">
									<button type="submit" class="btn btn-pink w-sm waves-effect waves-light">
										Reset
									</button> 
								</span>
							</div>
						</div>

					</form>
				</div>
			</div>
			

		</div>

		<script>
			var resizefunc = [];
		</script>

		<!-- jQuery  -->
		<script th:src="@{/resource/js/jquery.min.js}"></script>
		<script th:src="@{/resource/js/bootstrap.min.js}"></script>
		<script th:src="@{/resource/js/detect.js}"></script>
		<script th:src="@{/resource/js/fastclick.js}"></script>
		<script th:src="@{/resource/js/jquery.slimscroll.js}"></script>
		<script th:src="@{/resource/js/jquery.blockUI.js}"></script>
		<script th:src="@{/resource/js/waves.js}"></script>
		<script th:src="@{/resource/js/wow.min.js}"></script>
		<script th:src="@{/resource/js/jquery.nicescroll.js}"></script>
		<script th:src="@{/resource/js/jquery.scrollTo.min.js}"></script>

		<script th:src="@{/resource/js/jquery.core.js}"></script>
		<script th:src="@{/resource/js/jquery.app.js}"></script>

	</body>
</html>