<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GNEWS Pro - Social Media News</title>
    <meta name="description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
    <meta name="author" content="GNEWS.ID" />
    <meta name="keywords" content="best app for news and reading,best news reader app,best free news reader app,best mobile app,apps,gnews,gnews apps" />
    <meta property="og:title" content="GNEWS - Social Media News" />
    <meta property="og:url" content="http://GNEWS.ID" />
    <meta property="og:image" content="@{/resource/images/favicon.png}" />
    <meta property="og:description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
    <meta property="og:site_name" content="GNEWS.ID" />

    <link rel="icon" th:href="@{/resource/images/favicon.png}" />

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <!-- css -->
    <link rel="stylesheet" th:href="@{/resource/css/base.css}" />
    <link rel="stylesheet" th:href="@{/resource/css/animate.css}" />
    <!-- css for this project -->
    <link rel="stylesheet" th:href="@{/resource/css/project.css}" />

    <!-- ie -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
    <style type="text/css">
	    .form-control{
	    	background: #F0F0F0 none repeat scroll 0% 0%;
	    	margin: 5px 0 10px;
	    	border-style: none none solid;
	    	border-width: 0px 0px 0px;
	    	padding: 8px 0px 7px 10px;
	    	
	    }
	    .form-control:focus{
	    	border-color: none;
			border-bottom-width: 0;
	    }
	</style>
</head>

<body style="margin-top: 0; background-color: #fff;">

    <div th:replace="fragment/landing-navbar-not-homepage :: landing-navbar-not-homepage"></div>

	<section style="" id="register">
	<div class="container">
		<div class="row ">
		<div class="col-md-8 col-xs-12 ">		
			<h1>Register</h1>
			<div th:if="${error != null}" class="alert alert-danger alert-dismissible" role="alert">
			  <div th:text="#{web.error.register.default}"> </div>
			</div>
			<form th:action="@{/signup}" method="post"  class="form-horizontal">
				<div class="form-group">
		            <label style="margin: auto;" for="inputName" class="control-label col-xs-2">Name</label>
		            <div class="col-xs-10">
		                <input type="text" style="" class="form-control" name="name" id="inputName" required="required"/>
		            </div>
		        </div>

		        <div class="form-group">
		            <label for="inputEmail" class="control-label col-xs-2">Email</label>
		            <div class="col-xs-10">
		                <input type="email" class="form-control" name="email" id="inputEmail"  required="required"/>
		            </div>
		        </div>
        
		        <div class="form-group">
		            <label  for="inputCompany" class="control-label col-xs-2">Company</label>
		            <div class="col-xs-10">
		                <input type="text" class="form-control" name="company" id="inputCompany"  required="required"/>
		            </div>
		        </div>
		
		        <div class="form-group">
		            <label for="inputPhone" class="control-label col-xs-2">Phone</label>
		            <div class="col-xs-10">
		                <input type="text" class="form-control" name="phone" id="inputPhone"  required="required"/>
		            </div>
		        </div>
		
		        <div class="form-group">
		            <label for="inputPassword" class="control-label col-xs-2">Password</label>
		            <div class="col-xs-10">
		                <input type="password" class="form-control" name="password" id="inputPassword"  required="required"/>
		            </div>
		        </div>
		
		        <div class="form-group">
		            <div class="col-xs-offset-2 col-xs-10">
		                <button type="submit" class="btn btn-blue waves-effect">Register</button>
		            </div>
		        </div>		
		    </form>	
		</div>
		</div>
	</div>
	</section>

    <div th:replace="fragment/landing-footer :: landing-footer"></div>
    <div th:replace="fragment/modal-signin :: modal-signin"></div>
    <div th:replace="fragment/modal-inquiries :: modal-inquiries"></div>
    <!-- js -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
    <script th:src="@{/resource/js/base.min.js}"></script>

    <!-- js for this project -->

    <script th:src="@{resource/js/project.js}"></script>

    <script type="text/javascript">
        //<![CDATA[
        var sections = $('section'),
            nav = $('.active-scroll'),
            nav_height = nav.outerHeight();

        $(window).on('scroll', function() {
            var cur_pos = $(this).scrollTop();

            sections.each(function() {
                var top = $(this).offset().top - nav_height,
                    bottom = top + $(this).outerHeight();

                if (cur_pos >= top && cur_pos <= bottom) {
                    nav.find('a').each(function() {
                        $(this).removeClass('active');
                        sections.removeClass('active');
                        console.log('oi');
                    });


                    $(this).addClass('active');
                    nav.find('a[href="#' + $(this).attr('id') + '"]').addClass('active');
                }
            });
        });

        nav.find('a').on('click', function() {
            var $el = $(this),
                id = $el.attr('href');

            $('html, body').animate({
                scrollTop: $(id).offset().top - nav_height
            }, 500);

            return false;
        });
        $('.btn-request').on('click', function() {
            var $el = $(this),
                id = $el.attr('href');

            $('html, body').animate({
                scrollTop: $(id).offset().top - nav_height
            }, 500);

            return false;
        });

        $('#signinModal').on('shown.bs.modal', function() {
            $("input[name='username']").focus();

        });
        //]]>
    </script>


</body>

</html>