@custom: #00A0DC;
@custom2: #00B8E6;

@primary-text     :#4A4A4A;
@secondary-text   :#9B9B9B;
@link-default     :#00B8E6;
@medias           :#52D2B7;
@news             :#60CEF8;

// Color variables
@white: #ffffff;
@danger: #f05050;
@success: #81c868;
@warning: #ffbd4a;
@primary: #5d9cec;
@lightdark5: #555555;
@info: #34d3eb;
@purple: #7266ba;
@pink: #fb6d9d;
@inverse: #4c5667;
@muted: #98a6ad;
@light: #eeeeee;
@light2: #F5F5F5;
@lightdark3: #333333;
@lightdark4: #444444;
@light5: #ebeff2;
@light3: #f3f3f3;
@light9: #f9f9f9;
@light-alt: #fafafa;
@lightdark7: #797979;
@lightdark-alt: #cccccc;


@lightdark: #f4f8fb;
@lightgray: #7a8c9a;
@dark: #36404a;


// Width variables
@width: 100%;


// Height variables
@height: 100%;


//Font variables

//font-primary: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//font-secondary: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
@font-primary: 'Helvetica Neue', Helvetica;
@font-secondary: Helvetica,Arial,sans-serif;

//for project.css
@text-default: #4a4a4a;
@bg-default: #fafafa;
@bg-darker: #e1e1e1;
@border-default: 1px solid #DDDDDD;
@border-card: 1px solid #e0e0e0;

@grey1: #787777;
@grey2: #D7d7d7;

//icons size
@small-icon: 16px;
@medium-icon: 22px;;
@big-icon: 36px;
