<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="analytics-header">
			<div class="content-header">
				<div class="container">
					<div class="row header-keyword-mapping">
						<div class="col-sm-6 pull-left content-left" style="height: 62px;">
							<div class="row">
								<div class="col-md-2" style="padding: 0;">
									<h4 style="line-height: 17px; margin: auto;">Keyword</h4> 		
								</div>
								<div class="col-md-9"  style="padding: 0;">
									<div class="row">
										<div class="col-md-1">
											<h3 style="line-height: 17px; margin: auto;"><span class="icon margin-right-sm">info</span></h3>	
										</div>
										<div class="col-md-10" style="padding-left: 4px;">
											<h3  style="line-height: 17px; " th:text="${project.keyword}">Keyword</h3>	
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2" style="padding: 0;">
									<h4>Date</h4>		
								</div>
								<div class="col-md-10 date-space">
									<div id="dates" class="input-group pull-left">
							        	<div class="inner-addon right-addon">
							        		<i class="fa fa-caret-down"></i>    
											<input type="text"  name="daterange" class="date_pick"/>
							    		</div>
							    	</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 pull-right content-right">
							<div class="row text-left" >
								<div class="col-md-5 total-media" style="height: 62px; width: 150px;padding-top: 5px;padding-left: 9px; float: right;">
									<h4 style="font-size: 16px;">Total Media</h4> 
									<h2 id="contributor" style="font-size: 27px; line-height: 27px;"></h2>
								</div>
								<div class="col-md-5 total-news" style="height: 62px; width: 150px;padding-top: 5px;padding-left: 9px; float: right; margin-right:10px;">
									<h4 style="font-size: 16px;">Total News</h4> 
									<h2 class="post" style="font-size: 27px; line-height: 27px;"></h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>