<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="analytics-header-mobile">
			<div id="wrapper-head">
				<div class="content-head">
					<div class="row total-media-article" style="padding: 4px 0 10px;margin-left: 0;margin-right: 0;">
						<ul id="detailProject" class="projectDetail">
							<li>
								<div class="keywordName" style="margin-top: 2px;">
									Keyword : <br/>
									<span th:text="${project.keyword}"></span>
								</div>
							</li>
							<li style="width: 100px;padding-left: 10px;">
								<div class="totalArticle">
									<div style="float: left;">
										<span style="text-align: left;">
											<a class="btn btn-flat waves-attach waves-button waves-effect post">0</a>
										</span>
									</div>
									<div style="text-align: left;">
										<div class="PostMedia">
											Total Article
										</div>
									</div>
								</div>
							</li>
							<li style="width: 100px;padding-left: 5px;">
								<div class="totalMedia">
									<div style="float: left;">
										<span style="text-align: left;">
											<a id="contributor" class="btn btn-flat waves-attach waves-button waves-effect contributor">0</a>
										</span>
									</div>
									<div style="text-align: left;">
										<div class="PostMedia">
											Total Media
										</div>
									</div>
								</div>
							</li>
						</ul>
						
						<ul id="detailProjectExpand" class="projectDetail">
							<li style="width: 100%;">
							
								<div class="keywordName" style="float: left;">
									Keyword : <br/>
									<span th:text="${project.keyword}"></span>
								</div>
								
								<div style="width: 100px;padding-left: 10px;float: left;">
									<div class="totalArticle">
										<div>
											<div class="dateMobi">
												News From :
												<br/>
												<span id="startDate">01/11/2015</span>
											</div>
										</div>
									</div>
								</div>
								
								<div style="width: 100px;padding-left: 5px;float: left;">
									<div class="totalMedia">
										<div style="text-align: left;">
											<div class="dateMobi">
												To :
												<br/>
												<span id="endDate">29/11/2015</span>
											</div>
										</div>
									</div>
								</div>
								
							</li>
							
							
							<li style="width: 100%;">
							
								<div style="float: left;margin-right: 4px;">
									<div class="dateMobi2">
										Date Created :
										<br/>
										<span id="dateCreated">07/11/2015</span>
										<!-- <br/>
										Generated From :
										<br/>
										<span>01/11/2015</span> -->
									</div>
									<div class="deleteMobi">
										<a class="btn btn-flat waves-attach waves-effect" data-toggle="modal" href="#modal" style="padding: 0 4px;border: solid 1px #ffabab;color: #d46b6b;font-family: 'HelveticaNeueBold';border-radius: 3px;text-transform: capitalize;background-color: transparent;">
											Delete Project
										</a>
									</div>
								</div>
								
								<div>
									<div class="totalMedia" style="margin-left: 7px;margin-top: 6px;">
										<span style="text-align: left;float: left;">
											<a class="btn btn-flat waves-attach waves-button waves-effect post">0</a>
										</span>
										<div class="PostMedia" style="width: 75px;padding-top: 8px;font-size: 15px;">
											Total Article
										</div>
									</div>
								</div>
								<div>
									<div class="totalMedia" style="margin-left: 7px;margin-top: 39px;">
										<span style="text-align: left;float: left;">
											<a id="contributor" class="btn btn-flat waves-attach waves-button waves-effect contributor">0</a>
										</span>
										<div class="PostMedia" style="width: 75px;padding-top: 8px;font-size: 15px;">
											Total Media
										</div>
									</div>
								</div>
								
							</li>
						</ul>
						
					</div>
					
					<a id="expandBtn" href="javascript:void(0)" class="waves-attach" style="position: absolute;right: 16px;">
						<img alt="" th:src="@{/resource/analytics/images/mobile/bt_toogle_down.png}" style="max-width: 100%;" />
					</a>
					<a id="collapseBtn" href="javascript:void(0)" class="waves-attach" style="position: absolute;right: 16px;">
						<img alt="" th:src="@{/resource/analytics/images/mobile/bt_toogle_up.png}" style="max-width: 100%;" />
					</a>
					
				</div>
			</div>
		</div>
	</body>
</html>
