<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="analytics-navbar-mobile">
			<header class="header header-waterfall">
				<div class="container">
					<ul class="nav nav-list pull-left neue">
						<li class="">
							<a th:href="@{/project}">
									<img class="mobile-logo margin-left-no" th:src="@{/resource/images/logo_gnewspro-compress.png}" />
								</a>
						</li>
					</ul>
					<ul class="nav nav-list pull-right" style="margin-top: 4px;">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">
								<span class="access-hide">John Smith</span>
								<span class="avatar">
								<img alt="avatar" th:src="${profilepicture} == null ? @{/resource/images/avatar_1.png} : @{/images/uploads/}+${profilepicture}"/>
								</span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="waves-attach" th:href="@{/logout}" onclick="deletecookie()"><span class="icon margin-right-sm">exit_to_app</span>&nbsp;Logout</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				
			</header>
		</div>
	</body>
</html>