<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="analytics-navbar-bottom">
			<header class="header header-waterfall" style="border-bottom: none; bottom: 0;top: inherit;min-height: 49px;background-color: #00b8e6!important;">
				<ul id="navBottom" class="nav nav-list nav-justified">
					<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), 'keyword-mapping') ? 'active':''}">
						<a class="waves-attach" th:href="@{/project/}+${id}+@{/dashboard/keyword-mapping}+@{?start=}+${start}+@{&amp;end=}+${end}">
							<img alt="" th:src="@{/resource/analytics/images/mobile/ic_keywordmapping.png}" />
						</a>
					</li>
					<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), 'top-media') ? 'active':''}">
						<a class="waves-attach" th:href="@{/project/}+${id}+@{/dashboard/top-media}+@{?start=}+${start}+@{&amp;end=}+${end}">
							<img alt="" th:src="@{/resource/analytics/images/mobile/ic_20media.png}" />
						</a>
					</li>
					<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), 'sentiment') ? 'active':''}">
						<a class="waves-attach" th:href="@{/project/}+${id}+@{/dashboard/sentiment}+@{?start=}+${start}+@{&amp;end=}+${end}">
							<img alt="" th:src="@{/resource/analytics/images/mobile/ic_sentiment.png}" />
						</a>
					</li>
					<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), 'media-mapping') ? 'active':''}">
						<a class="waves-attach" th:href="@{/project/}+${id}+@{/dashboard/media-mapping}+@{?start=}+${start}+@{&amp;end=}+${end}">
							<img alt="" th:src="@{/resource/analytics/images/mobile/ic_mediamapping.png}" />
						</a>
					</li>
					<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), 'peaktime') ? 'active':''}">
						<a class="waves-attach" th:href="@{/project/}+${id}+@{/dashboard/peaktime}+@{?start=}+${start}+@{&amp;end=}+${end}">
							<img alt="" th:src="@{/resource/analytics/images/mobile/ic_periodictime.png}" />
						</a>
					</li>
				</ul>
			</header>
		</div>
	</body>
</html>