<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="analytics-delete-project">
			<div aria-hidden="true" class="modal fade" id="modal" role="dialog" tabindex="-1">
				<div class="modal-dialog modal-xs modal-delete" style="margin-top: 16%;">
					<div class="modal-content">
						<div class="modal-inner text-center" style="margin-top:0;">
							<p>
								Are you sure you want to delete this project?
							</p>
						</div>
						<div class="modal-footer">
							<p class="text-center">
								<a th:href="@{/project/delete?id=}+${id}" class="btn waves-attach waves-button waves-light waves-effect" type="submit" style="background-color: #00bcd4;color: #fff;text-transform: capitalize;">Delete</a>
								<a class="btn btn-default waves-attach waves-button waves-light waves-effect" data-dismiss="modal" style="text-transform: capitalize;">Cancel</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>