<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>GNEWS Analytics - Social Media News</title>
<meta name="description"
	content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
<meta name="author" content="GNEWS.ID" />
<meta property="og:title" content="GNEWS - Social Media News" />
<meta property="og:url" content="http://GNEWS.ID" />
<meta property="og:image"
	content="@{https://analytic.gnews.id/resource/images/favicon.png}" />
<meta property="og:description"
	content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
<meta property="og:site_name" content="GNEWS.ID" />
<link rel="icon"
	href="https://analytic.gnews.id/resource/images/favicon.png" />

<link
	href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700'
	rel='stylesheet' type='text/css' />
<!-- css -->
<!-- <link rel="stylesheet" href="base.css" /> -->
<!-- css for this project -->
<!-- <link rel="stylesheet" th:href="project.css" /> -->

<!-- ie -->
<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0"
	marginwidth="0"
	style="-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: 400; color: #4a4a4a; margin: 0; padding: 0;">

	<table cellspacing="0" cellpadding="0" border="0" bgcolor="#f9f9f9"
		style="width: 100%; color: #4a4a4a;" align="center; ">
		<tr>
			<td></td>
			<td>
				<div class="content"
					style="max-width: 900px; margin: 25px auto; display: block;">
					<table bgcolor="#fff"
						style="width: 100%; border: 1px solid #D5D5D5; border-radius: 5px;">
						<tr>
							<td id="main-content" th:utext="${content}" style="padding: 0 25px; color: #4a4a4a;">
								
							</td>
						</tr>
					</table>

					<table cellspacing="0" cellpadding="0" border="0"
						style="margin: 0 auto; width: 100%;" align="center">
						<tr>
							<td style="text-align: center; font-size: 12px; color: #9B9B9B; width: 90%;padding-left: 30px;">
								<p style="margin: 20px 0 0 0;">This email was sent by GNEWS</p>
								<p style="margin: 10px 0 0 0;"><a id="unsubscribeUrl" href="#" >unsubscribe</a></p>
							</td>
							<td style="width: 10%;">
								<img style="padding-top: 20px; padding-right: 10px;"
								src="https://pro.gnews.id/resource/images/logo_gnewspro-compress.png" width="100" />
							</td>
						</tr>
					</table>
				</div>
			</td>
			<td></td>
		</tr>
	</table>

</body>
</html>
